<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Restaurant.includes(:mailings).all.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant_with_session_key_url(restaurant) %></td>
        <td><%= restaurant.email %></td>
        <td>
          <% restaurant.mailings.each do |mailing| %>
            <span 
              class="label label-info tooltip-holder" 
              title="Sent on <%= mailing.created_at %> at <%= mailing.email %>">
              <%= tags mailing.mail %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>