<p id="notice"><%= notice %></p>

<h1>Mailings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailings.each do |mailing| %>
      <tr>
        <td><%= link_to 'Show', mailing %></td>
        <td><%= link_to 'Edit', edit_mailing_path(mailing) %></td>
        <td><%= link_to 'Destroy', mailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailing', new_mailing_path %>
