<div class="btn-group" role="toolbar" aria-label="...">

  <%= link_to new_dish_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "plus" %> ajouter un plat
  <% end %>

  <%= link_to dishes_edit_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> gérer les plats
  <% end %>

  <%= link_to dishes_allergens_edit_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "exclamation-sign" %> gérer les allergènes
  <% end %>

  <%= link_to new_category_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "plus" %> ajouter une catégorie
  <% end %>

  <%= link_to categories_edit_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> gérer les catégories
  <% end %>

</div>