<div class="btn-group col-xs-12" role="toolbar" aria-label="...">

  <%= link_to user_url(current_user, subdomain: nil), class: "btn btn-default" do %>
    <%= glyphicon "user" %> Votre profil
  <% end %>

  <%= link_to edit_user_url(current_user, subdomain: nil), class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> Editer votre profil
  <% end %>

  <%= link_to new_restaurant_path(subdomain: nil), class: "btn btn-default" do %>
    <%= glyphicon "plus" %> Créer un autre restaurant
  <% end %>
  
  <%= link_to new_payement_path(subdomain: nil), class: "btn btn-default" do %>
    <%= glyphicon "credit-card" %> Acheter
  <% end unless current_user.premium? %>

  <%= link_to payements_path(subdomain: nil), class: "btn btn-default" do %>
    <%= glyphicon "list" %> Mes paiements
  <% end %>

  <%= link_to signout_path(subdomain: nil), class: "btn btn-default" do %>
    <%= glyphicon "log-out" %> se déconnecter
  <% end %>

</div>