<ul class="nav nav-tabs" role="toolbar" aria-label="...">

  <li role="presentation">
    <%= link_to user_url(current_user, subdomain: nil) do %>
      <%= glyphicon "user" %> Votre profil
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to edit_user_url(current_user, subdomain: nil) do %>
      <%= glyphicon "pencil" %> Editer votre profil
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to new_restaurant_path(subdomain: nil) do %>
      <%= glyphicon "plus" %> Créer un autre restaurant
    <% end %>
  </li>
  
  <li role="presentation">
    <%= link_to new_payement_path(subdomain: nil) do %>
      <%= glyphicon "credit-card" %> Acheter
    <% end unless current_user.premium? %>
  </li>

  <li role="presentation">
    <%= link_to payements_path(subdomain: nil) do %>
      <%= glyphicon "list" %> Mes paiements
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to signout_path(subdomain: nil) do %>
      <%= glyphicon "log-out" %> se déconnecter
    <% end %>
  </li>

</ul>