<div class="col-sm-12">

  <%= picture_tag menu, :menus_picture_display, css_class: 'section-img', size: 100 %>

  <p>
    <%= menu.content %><br/>
    <%= tags menu.tags %>
  </p>


  <p class="text-right lead">
    <%= price menu.price %>
  </p>

  <% if admin? %>
    <p class="text-right admin">
        <%= link_to 'editer', edit_menu_path(menu), class: "btn btn-default" %>
        <%= link_to 'Supprimer', menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
    </p>
  <% end %>
</div>
