<%= bootstrap_form_for  menu, remote: true do |f| %>
  <%# = render 'shared/errors_form', model: menu %>
  <%= f.text_field :name, hide_label: true, placeholder: 'Nom' %>
  <%= f.text_field :description, hide_label: true, placeholder: 'Description' %>
  <%# = render 'shared/form_input_picture.html', form: f, model: menu %>
  <%# = f.check_box :activate, label: 'Activer' %>
  <%= f.text_area :content, hide_label: true, placeholder: 'Contenu' %>
  <%# = f.text_field :tags %>
  <%= f.number_field :price, hide_label: true, append: '€', placeholder: 'prix' %>
  <%# = render 'select_dishes', menu: menu, cache: true %>
  <%= f.submit 'Confirmer' %>
  <% if menu.id %>
    <button id="delete_menu" class="btn btn-danger">Supprimer</button>
  <% end %>
<% end %>
<!-- re-render dish list on form send -->
<script type="text/javascript">
  <% if menu.id %>
    // remove and refresh view
    $('#delete_menu').on('click', function(e){
      e.preventDefault();
      $.ajax({
         url : '<%= url_for menu %>',
         type : 'delete',
         dataType : 'html',
         success : function(result, status){
          $('#menus-list').html(result);
         },
         error : function(result, statut, error){
          console.log(result);
         },
         complete : function(result, status){
          $('.ui-dialog').remove();
         }
      });
    });
  <% end %>
</script>