<%= form_for  menu do |f| %>
  <%= render 'shared/errors_form', model: menu %>

  <div class="form-group col-xs-12">
    <%= f.label :name, 'Nom' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <%= render 'shared/form_input_picture.html', form: f, model: menu %>

  <div class="form-group col-xs-12">
    <%= f.label :content, 'Contenu' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-9">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'form-control tags' %>
    <%= render 'shared/tags_tips' %>
  </div>

  <div class="form-group col-sm-3">
    <%= f.label :price, 'Prix' %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= f.submit 'Créer le menu', class: 'btn btn-primary' %>
  </div>
<% end %>
