<%= bootstrap_form_for  menu do |f| %>
  <%= render 'shared/errors_form', model: menu %>
  <%= f.text_field :name, label: 'Nom' %>
  <%= f.text_field :description %>
  <%= render 'shared/form_input_picture.html', form: f, model: menu %>
  <%= f.check_box :activate, label: 'Activer' %>
  <%= f.text_area :content, label: 'Contenu' %>
  <%= f.text_field :tags %>
  <%= f.number_field :price, label: 'Prix' %>

  <% if @restaurant.module_menus %>

    <h2>Produits inclus</h2>

    <ul>
      <% @restaurant.dishes.each do |dish| %>
        <li>
          <div class="checkbox">
            <%= check_box_tag "[dishes][#{dish.id}]", true, menu.dishes.include?(dish) %>
            <%= label_tag "[dishes][#{dish.id}]", dish.name %>
          </div>
        </li>
      <% end %>
    </ul>

  <% end %>


  <%= f.submit 'Confirmer' %>
<% end %>
