<% menus.each do |menu| %>
  <div
    class="col-xs-12 col-md-6 col-lg-4 editable"
    data-url="<%= url_for edit_menu_path(menu) %>"
  >
    <h3 class="menu"><%= menu.name %> <span class="price"><%= menu.price %> €</span></h3>
    <p class="text-justify"><%= menu.description %></p>
    <ul class="list-unstyled">
      <% menu.dishes.each do |dish| %>
        <li>
          <strong><%= dish.name %></strong><br/>
          <%= dish.description %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>