  <%= render 'opening_hours/details', opening_hours: restaurant.opening_hours %>




<%= form_for([restaurant, OpeningHour.new ]) do |f| %>

  <h3>Ajouter une horraire d'ouverture</h3>
  
  <%= render 'shared/errors_form', model: restaurant %>

  <div class="row">

    <div class="form-group col-xs-4">
      <%= f.label :day, 'Jour' %>
      <%= f.select  :day, options_for_select(OpeningHour::DAYS) , {}, class: 'form-control' %>
    </div>


    <div class="form-group col-xs-4">
      <%= f.label :opens, 'Ouverture' %>
      <%= f.date_field  :opens, class: 'form-control' %>
    </div>

    <div class="form-group col-xs-4">
      <%= f.label :closes, 'Fermeture' %>
      <%= f.date_field  :closes, class: 'form-control' %>
    </div>


    <div class="form-group col-xs-6">
      <%= f.label :valid_from, 'Valable à partir de' %>
      <%= f.date_field  :valid_from, class: 'form-control' %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.label :valid_through, "Valable jusqu'à" %>
      <%= f.date_field  :valid_through, class: 'form-control' %>
    </div>


    <div class="col-sm-12">
      <%= f.submit 'Ajouter cette horraire', class: 'btn btn-primary' %>
    </div>

<% end %>