<%= bootstrap_form_for opening_hour do |f| %>

  <%= render 'shared/errors_form', model: opening_hour %>

  <table class="table table-hover">

    <% OpeningHour::DAYS.each do |field| %>

      <tr class="table-dark">
        <th><%= field %></th>
        <td><%= f.text_field field, hide_label: true %></td>
      </tr>

    <% end %>
      
  </table>

  <%= f.submit 'Mettre à jour' %>
<% end %>