<style type="text/css">
  p{text-align: justify;}
  img{max-height: 400px}
</style>
<p>Bonjour,</p>
<p>J'ai récemment remarqué que le site web de votre restaurant <strong>"<%= @restaurant.name %>"</strong> n'a pas été mis à jour depuis un bon moment.</p>
<p>J'ai mis au point une plateforme vous permettant de créer un site web de façon intuitive et très rapide. Celle-ci hébergera votre site et vous proposera une interface permettant de mettre à jour vos produits.</p>
<p>Voici un aperçu:</p>
<p style="text-align: center">
  <%= image_tag 'tutorial/add_dishes.gif', alt: "Aperçu de la plateforme", class: "img-responsive screenshot" %>
</p>
<p>Pour vous permettre de voir les différentes fonctionnalités de la plateforme j'ai importé vos produits. Le lien ci-dessous vous permet de voir le résultat en tant qu'administrateur</p>
<p style="text-align: center">
  <%= link_to restaurant_with_session_key_url(@restaurant) do %>
    <button><%= root_url(subdomain: @restaurant.slug) %></button>
  <% end %>
</p>
<p>Si le rendu vous intéresse n'hésitez pas à l'utiliser, je vous joindrai vos identifiants que vous pourrez modifier afin que je n'y ai plus accès. <small>Si le projet ne vous intéresse pas je supprimerai la page de votre restaurant.</small></p>
<p>N'hésitez pas à me contacter par mail pour toutes remarques ou questions, c'est avec plaisir que je vous répondrai</p>
<p>Bien cordialement,</p>
<hr/>
<small>
  <p>
    ROUSSEAU Alexandre<br/>
    Fondateur de <%= link_to 'Votre.Restaurant', 'http://votre.restaurant' %><br/>
    <%= mail_to 'a.rousseau@votre.restaurant' %><br/>
    <%= link_to 'rousseau-alexandre.fr', 'http://rousseau-alexandre.fr/' %>
  </p>
</small>