<h1 class="page-header">Gerez vos produits</h1>


<%= form_tag admin_dishes_path do  %>

  <div class="sortable">

    <% @dishes.order(:order).each_with_index do |dish, order| %>

      <div id="<%= dish.id %>" class="item col-xs-12">

        <div class="col-xs-1 handle">
          <span class="glyphicon glyphicon-sort"></span>
        </div>

        <%= hidden_field_tag "dish[#{dish.id}][category_id]", dish.category_id %>
        <%= hidden_field_tag "dish[#{dish.id}][order]", order, class: 'order' %>

        <!-- name -->
        <div class="col-xs-4">
          <%= text_field_tag "dish[#{dish.id}][name]" , dish.name, class: 'form-control' %>
        </div>

        <!-- price -->
        <div class="col-xs-2">
          <div class="input-group">
            <%= text_field_tag "dish[#{dish.id}][price]" , dish.price, class: 'form-control text-right' %>
            <span class="input-group-addon">€</span>
          </div>
        </div>

        <!-- category -->
        <div class="col-xs-2">
          <%= collection_select "dish[#{dish.id}]", :category_id, @categories, :id, :name, {selected: dish.category_id}, { class: "form-control" }  %>
        </div>

        <!-- activate -->
        <div class="col-xs-1 text-center">
          <%= label_tag "dish[#{dish.id}][activate]" do %>
            <%= check_box_tag "dish[#{dish.id}][activate]", 1, dish.activate %> Activer
          <% end %>
        </div>

        <div class="col-xs-1">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <%= link_to 'en voir plus' , edit_dish_path(dish) , class: 'btn btn-xs btn btn-default' %>
            <%= link_to 'supprimer', dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          </div>
        </div>

      </div>

    <% end %>

  </div><!--/ .sortable -->

  <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>

<% end %>
