<h1 class="page-header">Gerez vos liens</h1>
<%= form_tag admin_links_path do  %>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Cible</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @links.order(:order).each_with_index do |link, order| %>
        <tr>
          <td>
            <%= text_field_tag "links[#{link.id}][name]" , link.name, class: 'form-control' %>
          </td>
          <td>
            <%= text_field_tag "links[#{link.id}][url]" , link.url, class: 'form-control' %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to glyphicon('eye-open'), edit_link_path(link) , class: 'btn btn-default' %>
              <%= link_to glyphicon('trash'), link, method: :delete, data: { confirm: 'Etes-vous sûr?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>
  <%= link_to new_link_path, class: 'btn btn-default' do %>
    <%= glyphicon 'plus' %> Créer un nouveau lien
  <% end %>
<% end %>