<h1><%= image_tag '/assets/icons/certificate.svg', alt: 'utilisateur premium', size: 50 if @user.premium? %> <%= @user.complete_name %></h1>

<p><%= glyphicon 'envelope' %> <%= @user.email %></p>


<% if @user == current_user and %>

  <% if @user.restaurants.empty? # if user have don't restaurant yet%>
    <%= form_for(Restaurant.new) do |f| %>

      <div class="form-group col-sm-12">
        <%= alert 'warning', "Vous n'avez pas encore de restaurant. Créez en un en cinq minutes!" %>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :name, 'Nom' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group col-sm-12">
        <%= f.submit 'Créer ce magnifique restaurant', class: 'btn btn-primary' %>
      </div>
    <% end # end of form %>

  <% else # elese display restaurants %>

    <h2>Mes restaurants</h2>
    <%= render 'restaurants/table', restaurants: @user.restaurants %>
    
  <% end %>

  <p>
    <%= link_to "créer un autre restaurant", new_restaurant_path, class: 'btn btn-primary' %>
    <%= link_to "Passer premium", new_payement_path, class: 'btn btn-default' unless @user.premium? %>
    <%= link_to "Mes paiements", payements_path, class: 'btn btn-default' %>
    <%= link_to "se déconnecter", signout_path, class: 'btn btn-danger' %>
  </p>

  <p>
    <%= alert 'info', "Vous pouvez créer autant de restaurants que vous le souhaitez. Sans frais supplémentaires." %>
  </p>
  
<% else %>
  <h2>Ses restaurants</h2>
  <%= render 'restaurants/table', restaurants: @user.restaurants %>

<% end %>

