<h1><%= @user.complete_name %></h1>

<p><%= glyphicon 'envelope' %> <%= @user.email %></p>

<%= render 'restaurants/table', restaurants: @user.restaurants %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
