<h1><%= image_tag 'icons/certificate.svg', alt: 'utilisateur premium', size: 50 if @user.premium? %> <%= @user.complete_name %></h1>
<p><%= glyphicon 'envelope' %> <%= @user.email %></p>
<% if @user == current_user and %>
  <% if @user.restaurants.empty? # if user have don't restaurant yet%>
    <%= alert 'warning', "Vous n'avez pas encore de restaurant. Créez en un en cinq minutes!" %>
    <%= render 'restaurants/form_new' %>
  <% else # elese display restaurants %>
    <h2>Mes restaurants</h2>
    <%= render 'restaurants/table', restaurants: @user.restaurants, cache: true %>
  <% end %>
  <%= render 'toolbars/user', cache: true %>
  <%= alert 'info', "Vous pouvez créer autant de restaurants que vous le souhaitez. Sans frais supplémentaires." %>
<% else %>
  <h2>Ses restaurants</h2>
  <%= render 'restaurants/table', restaurants: @user.restaurants %>
<% end %>