<div class="btn-group-vertical col-xs-12" role="toolbar" aria-label="...">
  <%= link_to new_dish_path, class: "btn btn-default" do %>
    <%= glyphicon "plus" %> ajouter un plat
  <% end %>

  <%= link_to dishes_edit_path, class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> gérer les plats
  <% end %>

  <%= link_to categories_edit_path, class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> gérer les catégories
  <% end %>


</div>