<ul class="nav nav-tabs nav-stacked" role="toolbar" aria-label="...">

  <% @sidebar_data.each do |title, data| %>

    <li>
      <%= link_to data[:link] do %>
        <%= glyphicon data[:glyphicon] %> <%= title %>
      <% end %>
    </li>

  <% end %>

  <!-- Settings -->
  <li>
    <%= link_to edit_restaurant_path(@restaurant) do %>
      <%= glyphicon "cog" %> Paramètres
    <% end %>
  </li>

  
  <li><%= link_to 'Retourner sur Fooder', root_url(subdomain: nil) %></li>

</ul>
