<div class="btn-group col-xs-12" role="toolbar" aria-label="...">

  <%= link_to new_restaurant_path, class: "btn btn-default" do %>
    <%= glyphicon "plus" %> Créer un restaurant
  <% end %>

  <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-default" do %>
    <%= glyphicon "cog" %> Paramètres
  <% end %>

  <%= link_to opening_hours_edit_path, class: "btn btn-default" do %>
    <%= glyphicon "time" %> editer les horaires
  <% end %>

  <%= link_to links_edit_path, class: "btn btn-default" do %>
    <%= glyphicon "link" %> gérer les liens
  <% end %>

</div> 