<div class="btn-group col-xs-12" role="toolbar" aria-label="...">

  <% if @restaurant.module_blog %>

    <%= link_to new_post_url(subdomain: @restaurant), class: "btn btn-default" do %>
      <%= glyphicon "plus" %> ajouter un article
    <% end %>

    <%= link_to posts_url(subdomain: @restaurant), class: "btn btn-default" do %>
      <%= glyphicon "pencil" %> gérer les articles
    <% end %>

    <%= link_to activate_module_url(module: 'blog', subdomain: @restaurant), class: "btn btn-default", method: :patch do %>
      <%= glyphicon "unchecked" %> désactiver le blog
    <% end %>

  <% else %>

    <%= link_to activate_module_url(module: 'blog', subdomain: @restaurant), class: "btn btn-default", method: :patch do %>
      <%= glyphicon "unchecked" %> <%= @restaurant.module_blog ? "désactiver" : "activer"  %> le blog
    <% end %>

  <% end %>

</div>