<%= form_for(payement) do |f| %>
  <% if payement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payement.errors.count, "error") %> prohibited this payement from being saved:</h2>

      <ul>
      <% payement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :transaction_id %>
    <%= f.text_field :transaction_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
