<p id="notice"><%= notice %></p>

<h1>Payements</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Transaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payements.each do |payement| %>
      <tr>
        <td><%= payement.user_id %></td>
        <td><%= payement.transaction_id %></td>
        <td><%= link_to 'Show', payement %></td>
        <td><%= link_to 'Edit', edit_payement_path(payement) %></td>
        <td><%= link_to 'Destroy', payement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payement', new_payement_path %>
