<h1>Mes paiements</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Produit</th>
      <th>Transaction</th>
      <th>Statut</th>
      <th>Statut</th>
      <th>Acheté le</th>
    </tr>
  </thead>

  <tbody>
    <% @payements.each do |payement| %>
      <tr>
        <td><%= payement.product.name %></td>
        <td><%= payement.transaction_id %></td>
        <td><%= payement.status %></td>
        <td><%= payement.purchased_at %></td>
        <td><%= link_to 'Détails', payement, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
