<h1>Facture</h1>

<table class="table table-striped">

  <tr>
    <th>Identifiant</th>
    <td><%= @payement.id %></td>
  </tr>

  <tr>
    <th>Produit</th>
    <td><%= @payement.product.name %></td>
  </tr>

  <tr>
    <th>Acheté le</th>
    <td><%= @payement.purchased_at %></td>
  </tr>

  <tr>
    <th>Valide jusqu'à</th>
    <td>TODO</td>
  </tr>
  

  <tr>
    <th>TOTAL TTC</th>
    <td><%= @payement.mc_gross %></td>
  </tr>

</table>

<h2>Paypal</h2>

<table class="table table-striped">

  <tr>
    <th>Transaction</th>
    <td><%= @payement.txn_id %></td>
  </tr>

  <tr>
    <th>Email</th>
    <td><%= @payement.payer_email %></td>
  </tr>

  <tr>
    <th>Adresse</th>
    <td><%= @payement.complete_address %></td>
  </tr>

  <tr>
    <th>Statut</th>
    <td><%= @payement.payment_status %></td>
  </tr>


  
</table>

<p>
  <%= link_to 'Mes autres payements', payements_url, class: 'btn btn-default' %>
</p>