<% align = 'left' %>
<% sections.each do |section| %>
  <% picture = section.picture? ?  image_tag( section.picture.thumb, class: 'img-circle section-img') : '' %>
  <div 
    class="media text-center <%= 'editable' if admin? %>"
    <% if admin? %>
      data-url="<%= url_for edit_section_path(section) %>"
    <% end %>
  >
    <!-- display picture and text in two columns -->
    <% if section.picture? and align == 'left' %>
      <div class="media-left">
        <%= image_tag section.picture.thumb, class: "img", size: 200 %>
      </div>
    <% end %>
    <div class="media-body">
      <h3 class="media-heading"><%= section.title %></h3>
      <p class="lead"><%= section.content %></p>
    </div>
    <% if section.picture? and align == 'right' %>
      <div class="media-right">
        <%= image_tag section.picture.thumb, class: "img", size: 200 %>
      </div>
    <% end %>
    <% align = align == 'left' ? 'right' : 'left' %>
  </div>
<% end %>