<div class="jumbotron">
  <h1>Editez vos en-têtes</h1>
  <p>Ici éditez / réorganisez rapidement vos en-têts. Vous pouvez accéder au formulaire complet en cliquant sur <i>En savoir plus</i></p>
</div>



<%= form_tag sections_edit_path do  %>

  <div class="sortable">

    <% @sections.order(:order).each_with_index do |section, order| %>

      <div id="<%= section.id %>" class="item col-xs-12">

        <div class="col-xs-1 handle">
          <span class="glyphicon glyphicon-sort"></span>
        </div>

        <%= hidden_field_tag "sections[#{section.id}][order]", order, class: 'order' %>

        <div class="col-xs-9">
          <%= text_field_tag "sections[#{section.id}][title]" , section.title, class: 'form-control' %>
        </div>


        <div class="col-xs-2">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <%= link_to 'en voir plus' , edit_section_path(section) , class: 'btn btn-xs btn btn-default' %>
            <%= link_to 'supprimer', section, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          </div>
        </div>

      </div>

    <% end %>
    
  </div><!--/ .sortable -->

  <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>

<% end %>

