
<table class="table">

  <thead>
    <tr>
      <th></th>
      <th>compte gratuit</th>
      <th>compte premium</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Création du site</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>Gestion des plats à la carte</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>Gestion des menus</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>Module de blog</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>Module de réservation</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>Module de notation de plat</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>Module de notation de plat</td>
      <td><%= glyphicon 'ok' %></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>

    <tr>
      <td>URL personalisée</td>
      <td></td>
      <td><%= glyphicon 'ok' %></td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td>0 € / mois</td>
      <td>9.99 € / mois</td>
    </tr>

    <tr>
      <td></td>
      <td><%= link_to "Compte gratuit", signup_path, class: 'btn btn-default' %></td>
      <td><%= link_to "Compte premium", signup_path, class: 'btn btn-primary' %></td>
    </tr>
  </tfoot>
  
</table>