<table class="table">
  <tr>
    <th></th>
    <th>compte gratuit</th>
    <th>compte premium</th>
  </tr>

  <tr>
    <td>Création du site</td>
    <td><%= glyphicon 'ok' %></td>
    <td><%= glyphicon 'ok' %></td>
  </tr>

  <tr>
    <td>Gestion des plats à la carte</td>
    <td><%= glyphicon 'ok' %></td>
    <td><%= glyphicon 'ok' %></td>
  </tr>

  <tr>
    <td>Gestion des menus</td>
    <td><%= glyphicon 'ok' %></td>
    <td><%= glyphicon 'ok' %></td>
  </tr>
  
</table>