<!--  -->
<div class="col-sm-6">
  <%# = image_tag 'fooder.svg', alt: 'fooder', size: 200 %>
  <h1>Créez votre site internet pour votre restaurant.</h1>
  <ul>
    <li>sans connaissances</li>
    <li>gratuitement</li>
    <li>sans limite d'essai</li>
  </ul>
  <p>Essayez dès maintenant, ressentez le pouvoir.</p>
  <p><%= link_to "C'est parti!", signup_url, class: 'btn btn-lg btn-primary' %></p>
  <p class="alert alert-warning">Le projet est en cours de construction</p>
</div>
<div class="col-sm-6 hidden-xs text-right" style="padding-top: 200px">
  <%= image_tag 'screenshots/macbook_home.png', alt: "Capture d'écran de la page d'un restaurant crée avec Fooder", class: "img-responsive screenshot" %>
</div>
<div class="col-xs-12">
  <h2>Comment ça fonctionne?<br/>
    <small>C'est vraiment simple</small></h2>
  <div class="row step">
    <!-- description -->
    <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="media-list">
        <!-- inscrivez vous  -->
        <li class="media">
          <div class="media-left media-middle">
            <%= image_tag 'tutorial/new_restaurant', class: "media-object thumbnail", width: 500 ,alt: "Capture d'écran du formulaire d'édition d'un plat" %>
          </div>
          <div class="media-body">
            <p class="lead"><%= link_to 'Inscrivez vous', signup_path %> sur Fooder créez votre site en moins d'une minute.</p>
          </div>
        </li>
        <!-- add dishes -->
        <li class="media">
          <div class="media-body media-middle">
            <p class="lead"><strong>Ajoutez vos produits</strong>. votre carte est générée automatiquement.</p>
          </div>
          <div class="media-right media-middle">
            <%= image_tag 'tutorial/add_dishes', class: "media-object thumbnail", width: 500 ,alt: "CRéation" %>
          </div>
        </li>
        <!-- edit restaurant -->
        <li class="media">
          <div class="media-left media-middle">
            <%= image_tag 'tutorial/edit_section', class: "media-object thumbnail", width: 500 ,alt: "Capture d'écran du formulaire d'édition d'un plat" %>
          </div>
          <div class="media-body media-middle">
            <p class="lead"><strong>Personalisez</strong> votre site en temps réel.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-center"><%= link_to "Commencez dès maintenant", signup_url, class: 'btn btn-lg btn-default' %></p>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Fonctionnalités</h2>
    <div class="feature col-lg-4 col-sm-6 col-xs-12">
      <h3><%= image_tag 'icons/devices.svg', alt: 'Devices', size: 100 %> Responsive.</h3>
      <p>Votre site est compatible pour les smartphones, tablettes et orinateurs.</p>
    </div>
    <div class="feature col-lg-4 col-sm-6 col-xs-12">
      <h3><%= image_tag 'icons/box.svg', alt: 'Modules', size: 100 %> Modules.</h3>
      <p>Vous souhaitez désactiver une fonctionnalité? Pas de problème.</p>
    </div>
    <div class="feature col-lg-4 col-sm-6 col-xs-12">
      <h3><%= image_tag 'icons/megaphone.svg', alt: 'Magie', size: 100 %> Blog.</h3>
      <p>Communiquez autour de l'actualité de votre restaurant.</p>
    </div>
    <div class="feature col-lg-4 col-sm-6 col-xs-12">
      <h3><%= image_tag 'icons/pencil.svg', alt: 'Stylo', size: 100 %> Evaluations.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>
    <div class="feature col-xs-12">
      <p class="alert alert-info"><strong>D'autres idées?</strong> Nous sommes à l'écoute pour toutes propositions de nouvelles fonctionnalités.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Prix</h2>
  </div>
  <%= render 'cost_table', cache: true %>
</div>
<div class="col-xs-12">
  <h2>Newsletter</h2>
  <p>Intéressé pas le projet? N'hésitez pas à vous abonner à la newsletter!</p>
  <%= render 'newsletters/form', newsletter: Newsletter.new %>
</div>
<div class="col-xs-12">
  <h2>FAQ<br/>
    <small>Foire aux questions</small></h2>
  <div class="col-sm-6 question">
    <blockquote>
      <p>Est-ce qu'il y a une limite au compte gratuit?</p>
    </blockquote>
    <p><strong>Non.</strong> Vous pouvez choisir de basculer sur un compte premium à tout moment (et vice versa).</p>
  </div>
  <div class="col-sm-6 question">
    <blockquote>
      <p>Est-ce qu'il y a un engagement pour le mode premium?</p>
    </blockquote>
    <p><strong>Non.</strong> Vous pouvez choisir de résilier à tout moment et rebasculer sur le mode gratuit.</p>
  </div>
  <div class="col-sm-6 question">
    <blockquote>
      <p>Est-il possible d'avoir un coup de main pour démarrer?</p>
    </blockquote>
    <p><strong>Oui.</strong> Pour tout abonnement au service premium de plus de 12 mois. Contactez-nous pour la mise en place de votre contenu.</p>
  </div>
  <div class="col-sm-6 question">
    <blockquote>
      <p>Dois-je m'occuper de l'hébergement?</p>
    </blockquote>
    <p><strong>Non.</strong> On s'occupe de tout.</p>
  </div>
</div>