
<!--  -->
<div class="col-sm-6">

  <%# = image_tag '/assets/fooder.svg', alt: 'fooder', size: 200 %>
  <h1>Créez votre site internet pour votre restaurant.</h1>

  <ul>
    <li>sans connaissances</li>
    <li>en moins de 5 minutes</li>
    <li>gratuitement sans limite d'essai</li>
  </ul>

  <p>Essayez dès maintenant, ressentez le pouvoir.</p>
  
  <p><%= link_to "C'est parti!", signup_url, class: 'btn btn-lg btn-primary' %></p>
  <p class="alert alert-warning">Le projet est en cours de construction. Vous pouvez tout de même l'utiliser normalement.</p>
</div>


<div class="col-sm-6 hidden-xs text-right">
  <%= image_tag '/assets/screenshots/macbook.png', alt: "Capture d'écran de la page d'un restaurant crée avec Fooder", class: "img-responsive screenshot" %>
</div>



<div class="col-xs-12">
  <h2>Comment ça fonctionne?<br/><small>C'est vraiment simple</small></h2>



  <div class="row step">
    <!-- description -->
    <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center">
      <h3>1. Inscrivez vous</h3>
      <p><%= link_to 'Créez votre compte', signup_path %> sur Fooder. C'est totalement gratuit.</p>
      <p>Aucun frais n'est à prévoir et aucune carte bancaire n'est requise.</p>
      <p>Une fois votre compte activé, vous pouvez créez votre premier site!</p>
    </div>

  </div>



  <div class="row">
    <!-- picure -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag '/assets/screenshots/macbook.png', class: "img-responsive screenshot" %>
    </div>

    <!-- description -->
    <div class="col-sm-6 col-xs-12">
      <h3>2. Ajoutez vos produits</h3>
      <p>Une fois votre restaurant crée, rendez-vous dans l'interface d'administration et ajoutez vos produits.</p>
      <p>Un formulaire simple vous demande les informations de base.</p>
      <p>Votre carte est générée automatiquement.</p>
    </div>
  </div>



  <div class="row step">
    <!-- description -->
    <div class="col-sm-6 col-xs-12">
      <h3>3. Personnalisez votre site</h3>
      <p>Utilisez toutes les options disponnibles pour rendre votre site unique.</p>
      <p>Sélectionnez un thème parmis les nombreux proposés</p>
    </div>

    <!-- picure -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag '/assets/screenshots/macbook.png', class: "img-responsive screenshot" %>
    </div>
  </div>

  <p class="text-center"><%= link_to "Commencez dès maintenant", signup_url, class: 'btn btn-lg btn-default' %></p>
</div>


<div class="row">
  <div class="col-xs-12">
    <h2>Fonctionnalités</h2>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/devices.svg', alt: 'Modules', size: 100 %> Responsive.</h3>
      <p>Votre site est compatible pour les smartphones, tablettes et orinateurs.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/pantone.svg', alt: 'Modules', size: 100 %> Thèmes.</h3>
      <p>De nombreux thèmes vous sont proposés.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/box.svg', alt: 'Modules', size: 100 %> Modules.</h3>
      <p>Vous souhaitez désactiver une fonctionnalité? Pas de problème.</p>
    </div>

    <div class="col-sm-feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/magician.svg', alt: 'Magie', size: 100 %> Menu.</h3>
      <p>Assemblez vos produits pour proposer des menus.</p>
    </div>


    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/heart.svg', alt: 'Coeur', size: 100 %> Allergènes.</h3>
      <p>Proposez  une carte des allergènes intéractive.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/letter.svg', alt: 'Lettre', size: 100 %> Contact.</h3>
      <p>Laissez vos client vous contactez à traver un formulaire de contact.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/megaphone.svg', alt: 'Magie', size: 100 %> Blog.</h3>
      <p>Communiquez autour de l'actualité de votre restaurant.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= image_tag '/assets/icons/pencil.svg', alt: 'Stylo', size: 100 %> Evaluations.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

    <div class="col-sm-12 alert alert-info">
      <p><strong>D'autres idées?</strong> Nous sommes à l'écoute pour toutes propositions de nouvelles fonctionnalités.</p>
    </div>
  </div>
</div>

<% if false %>
<div class="row">
  <div class="col-xs-12">
    <h2>Bénefices</h2>


    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'time' %> Vous fait gagnez du temps</h3>
      <p>Plus besoin de renseigner vos clients à propos de vos produits car vous proposerez une carte claire et intéractive.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'cutlery' %> Concentrez-vous sur votre métier</h3>
      <p>Plus besoin de rensigner vos clients sur les plats que vous proposez</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'thumbs-up' %> Développez votre clientèle.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

  </div>
</div>
<% end %>



<div class="row">
  <div class="col-xs-12">
    <h2>Prix</h2>
    <%= render 'cost_table' %>
    <p class="alert alert-info">Créez votre site gratuitement et décidez de basculer sur un compte premium quand vous le souhaitez.</p>
  </div>
</div>



<hr>

<section class="faq">
  <div class="col-xs-12">
    <h2>FAQ <small>Foire aux questions</small></h2>


    <div class="col-sm-6">
      <h3>Est-ce qu'il y a une limite au compte gratuit?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de basculer sur un compte premium à tout moment (et vice versa).</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-ce qu'il y a un engagement pour le mode premium?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de résilier à tout moment et rebasculer sur le mode gratuit.</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-il possible d'avoir un coup de main pour démarrer?</h3>
      <p><strong>Oui.</strong> Pour tout abonnement au service premium de plus de 12 mois. Contactez-nous pour la mise en place de votre contenu.</p>
    </div>

    <div class="col-sm-6">
      <h3>Dois-je m'occuper de l'hébergement?</h3>
      <p><strong>Non.</strong> On s'occupe de tout.</p>
    </div>

  </div>
</div>
</section>


<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Newsletter</h2>
    <p>Intéressé pas le projet? N'hésitez pas à vous abonner à la newsletter!</p>
    <%= render 'newsletters/form', newsletter: Newsletter.new %>
  </div>
</div>
</section>

