<%= alert 'warning', "Le projet est en cours de construction. Si vous êtes intéressé par le projet, soyez patient, " %>

<header>
  <%= image_tag '/assets/fooder.svg', size: 50 %>
  <h1>Fooder</h1>
  <p>Génerez votre site pour votre restaurant.</p>

  <hr>

  <p style="font-size: 1.8em; color: gray">Vous pensiez que HTML et CSS sont des organismes de l'URSSAF? On s'occuppe de tout!</p>

  <%= link_to "C'est partit!", signin_url, class: 'btn btn-lg btn-primary' %>
</header>

<hr/>

<section>
  <div class="row">
    <div class="col-xs-12">
      <h2>Rapidité, simplicité</h2>
      <p>Quelques clics suffisent pour génerer votre site sans aucune connaissances en web.</p>
      <p>Vous pouvez ensuite mettre à jour et communiquer autour de votre restaurant.</p>
      <p>C'est vous le chef!</p>
      <p><%= link_to "Commencez dès maintenant", signin_url, class: 'btn btn-lg btn-default' %></p>
    </div>
  </div>
</section>

<hr/>

<section>
  <div class="row">
    <div class="col-xs-12">

      <div class="col-xs-12"></div>

      <h2>Comment ça fonctionne</h2>
      <p>Vous n'avez besoin d'aucune connaissance particulière, c'est très simple</p>

      <div class="col-sm-4">
        <h3>1</h3>
        <p><%= link_to "Créez votre compte", signin_url %> sur Fooder.</p>
      </div>

      <div class="col-sm-4">
        <h3>2</h3>
        <p>Ajoutez les produits que vous proposez.</p>
      </div>

      <div class="col-sm-4">
        <h3>3</h3>
        <p>Votre site est prêt.</p>
      </div>

      <div class="col-xs-12" style="margin-top: 80px">
        <p><%= link_to "voir l'exemple", example_url, class: 'btn btn-lg btn-default' %></p>
      </div>

    </div>
  </div>
</section>

<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Fonctionnalités</h2>
    <p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non: c'est vous le chef!</p>


    <div class="col-sm-6">
      <h3>Allergènes.</h3>
      <p>Renseignez les allergènes présents dans vos plats. Une carte des allergènes est automatiquement génerée.</p>
    </div>

    <div class="col-sm-6">
      <h3>Menus.</h3>
      <p>Composez vos menus avec les plats que vous avez déjà renseignés.</p>
    </div>

    <div class="col-sm-6">
      <h3>Blog.</h3>
      <p>Communiquez autour de l'actualité de votre restaurant.</p>
    </div>

    <div class="col-sm-6">
      <h3>Thèmes.</h3>
      <p>Choisissez un thème parmis les nombreux proposées.</p>
    </div>

  </div>
</div>
</section>

<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Prix</h2>

    <p>Créez votre site gratuitement et décidez de basculer sur un compte premium quand vous les souhaitez.</p>

    <%= render 'cost_table' %>
    
  </div>
</div>
</section>

<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>FAQ <small>Foire aux questions</small></h2>


    <div class="col-sm-6">
      <h3>Il y a t-il une limite au compte gratuit?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de basculer sur un compte premium à tout moment (et vice versa).</p>
    </div>

    <div class="col-sm-6">
      <h3>Il y a t-il un engagement pour le mode premium?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de résillier à tout moment et rebasculer sur le mode gratuit.</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-il possible d'avoir un coup de main pour démarrer?</h3>
      <p><strong>Oui.</strong> pour tout abonnement au service premium de plus de 12 mois. Contacter-nous pour la mise en place votre contenu.</p>
    </div>

    <div class="col-sm-6">
      <h3>Dois-je m'occuper de l'hébergement?</h3>
      <p><strong>Non.</strong> On s'occuppe de tout.</p>
    </div>

  </div>
</div>
</section>
