
<header>
  
  <h1><%= image_tag '/assets/fooder.svg', alt: 'fooder', size: 300 %></h1>
  <!-- <p><strong>Créez un site dynamique de qualité</strong> pour votre restaurant.</p> -->
  <p><strong>Développez</strong> votre clientèle avec un <strong>site internet</strong> à l'image de votre <strong>restaurant</strong>.</p>
  <p class="alert alert-warning">Le projet est en cours de construction. Vous pouvez tout de même l'utiliser normalement.</p>

  <p><%= link_to "C'est parti!", signup_url, class: 'btn btn-lg btn-primary' %></p>
</header>

<hr/>

<section>
  <div class="row">
    <div class="col-xs-12">
      <h2>Rapide, simple</h2>

      <p>En quelques clics, et sans connaissances en web-design, <strong>créez votre site</strong> pour votre restaurant.</p>

      <p>Vous pensez que <strong>HTML</strong> et <strong>CSS</strong> sont des organismes de l'<strong>URSSAF</strong>? On vous facilite la vie!</p>
      
      <p><%= link_to "Créez votre compte", signup_url %> sur Fooder et commencez dès à présent à .</p>
      <p><%= link_to "Commencez dès maintenant", signup_url, class: 'btn btn-lg btn-default' %></p>
    </div>
  </div>
</section>

<hr/>

<section>
  <div class="row">
    <div class="col-xs-12">

      <div class="col-xs-12"></div>

      <h2>Comment ça fonctionne?</h2>
      <p><%= link_to "Créez votre compte", signup_url %> sur Fooder et créez votre restaurant.</p>

      <div class="col-sm-4">
        <h3>Etape 1</h3>
        <p><strong>Ajoutez</strong><br/> vos produits</p>
      </div>

      <div class="col-sm-4">
        <h3>Etape 2</h3>
        <p><strong>Composez</strong><br/> vos menus</p>
      </div>

      <div class="col-sm-4">
        <h3>Etape 3</h3>
        <p><strong>C'est tout!</strong><br/> Votre carte interactive est prête.</p>
      </div>

      <div class="col-xs-12">
        <p class="alert alert-info">Et tout cela <strong>totalement gratuitement</strong> et <strong>sans période d'éssai</strong>.</p>
        <p><%= link_to "voir l'exemple", example_url, class: 'btn btn-lg btn-default' %></p>
      </div>




    </div>
  </div>
</section>

<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Fonctionnalités</h2>
    <p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non <small>(comme des legos)</small>.</p>


    <div class="col-sm-12">
      <h3><%= glyphicon 'book' %> Carte interactive.</h3>
      <p>Gerez le prix, la photo, la description ou encore l'organisation de vos plats et votre carte se met à jour instantanément.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'th-large' %> Modules.</h3>
      <p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'tint' %> Thèmes.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

  </div>
</div>
</section>

<hr/>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Nos modules</h2>
    <p>Vous souhaitez aller plus loin?</p>

    <div class="col-sm-6">
      <h3><%= glyphicon 'book' %> Menu.</h3>
      <p>Assemblez vos produits pour proposer des menus.</p>
    </div>


    <div class="col-sm-6">
      <h3><%= glyphicon 'heart' %> Allergènes.</h3>
      <p>Renseignez les allergènes présents dans vos plats et proposez  une carte des allergènes.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'envelope' %> Contact.</h3>
      <p>Laissez vos client vous contactez à traver un formulaire de contact.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'bullhorn' %> Blog.</h3>
      <p>Communiquez autour de l'actualité de votre restaurant.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'star' %> Evaluations.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

    <div class="col-sm-12 alert alert-info">
      <h3><%= glyphicon 'question-sign' %> D'autres idées?</h3>
      <p>Nous sommes à l'écoute pour toutes propositions de nouvelles fonctionnalités.</p>
    </div>

  </div>
</div>
</section>

<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Prix</h2>
    <%= render 'cost_table' %>
    <p class="alert alert-info">Créez votre site gratuitement et décidez de basculer sur un compte premium quand vous le souhaitez.</p>
  </div>
</div>
</section>

<hr>

<section class="faq">
  <div class="col-xs-12">
    <h2>FAQ <small>Foire aux questions</small></h2>


    <div class="col-sm-6">
      <h3>Est-ce qu'il y a une limite au compte gratuit?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de basculer sur un compte premium à tout moment (et vice versa).</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-ce qu'il y a un engagement pour le mode premium?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de résilier à tout moment et rebasculer sur le mode gratuit.</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-il possible d'avoir un coup de main pour démarrer?</h3>
      <p><strong>Oui.</strong> Pour tout abonnement au service premium de plus de 12 mois. Contactez-nous pour la mise en place de votre contenu.</p>
    </div>

    <div class="col-sm-6">
      <h3>Dois-je m'occuper de l'hébergement?</h3>
      <p><strong>Non.</strong> On s'occupe de tout.</p>
    </div>

  </div>
</div>
</section>


<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Newsletter</h2>
    <p>Intéressé pas le projet? N'hésitez pas à vous abonner à la newsletter!</p>
    <%= render 'newsletters/form', newsletter: Newsletter.new %>
  </div>
</div>
</section>

