
<!--  -->
<div class="col-sm-6">
  <h1><%= image_tag '/assets/fooder.svg', alt: 'fooder', size: 200 %></h1>
  <p><strong>Créez</strong> un <strong>site internet</strong> à l'image de votre <strong>restaurant</strong>.</p>
  
  <p><%= link_to "C'est parti!", signup_url, class: 'btn btn-lg btn-primary' %></p>
</div>


<div class="col-sm-6 hidden-xs text-right">
  <%= image_tag '/assets/screenshots/macbook.png', alt: "Capture d'écran de la page d'un restaurant crée avec Fooder", class: "img-responsive screenshot" %>
</div>

<div class="col-xs-12">
  <p class="alert alert-warning">Le projet est en cours de construction. Vous pouvez tout de même l'utiliser normalement.</p>
</div>



<div class="col-xs-12">
  <h2>Comment ça fonctionne?<br/><small>C'est vraiment simple</small></h2>



  <div class="row step">
    <!-- description -->
    <div class="col-sm-6 col-xs-12">
      <h3>Créez votre compte</h3>
      <p>Duis minim nostrud consectetur reprehenderit elit culpa voluptate in eu sit eu consequat.</p>
    </div>

    <!-- picure -->
    <div class="col-sm-6 col-xs-12">
      
    </div>
  </div>



  <div class="row">
    <!-- picure -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag '/assets/screenshots/macbook.png', class: "img-responsive screenshot" %>
    </div>

    <!-- description -->
    <div class="col-sm-6 col-xs-12">
      <h3>Ajoutez vos produits</h3>
      <p>Duis minim nostrud consectetur reprehenderit elit culpa voluptate in eu sit eu consequat.</p>
    </div>
  </div>



  <div class="row step">
    <!-- description -->
    <div class="col-sm-6 col-xs-12">
      <h3>Personnalisez votre site</h3>
      <p>Duis minim nostrud consectetur reprehenderit elit culpa voluptate in eu sit eu consequat.</p>
    </div>

    <!-- picure -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag '/assets/screenshots/macbook.png', class: "img-responsive screenshot" %>
    </div>
  </div>



  <div class="row step">
    <!-- picure -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag '/assets/screenshots/macbook.png', class: "img-responsive screenshot" %>
    </div>

    <!-- description -->
    <div class="col-sm-6 col-xs-12">
      <h3>Activez vos modules</h3>
      <p>Duis minim nostrud consectetur reprehenderit elit culpa voluptate in eu sit eu consequat.</p>
    </div>
  </div>



  
  
  <p><%= link_to "Créez votre compte", signup_url %> sur Fooder et commencez dès à présent à .</p>
  <p><%= link_to "Commencez dès maintenant", signup_url, class: 'btn btn-lg btn-default' %></p>
</div>


<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Fonctionnalités</h2>
    <p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non <small>(comme des legos)</small>.</p>


    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'book' %> Carte interactive.</h3>
      <p>Gerez le prix, la photo, la description ou encore l'organisation de vos plats et votre carte se met à jour instantanément.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'th-large' %> Modules.</h3>
      <p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non.</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'tint' %> Thèmes.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

  </div>
</div>
</section>

<hr/>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Bénefices</h2>
    <p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non <small>(comme des legos)</small>.</p>


    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'book' %> Vous fait gagnez du temps</h3>
      <p>Plus besoin de rensigner vos clients sur les plats que vous proposez</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'book' %> Se concentrer sur votre métier</h3>
      <p>Plus besoin de rensigner vos clients sur les plats que vous proposez</p>
    </div>

    <div class="feature col-lg-4 col-sm-12">
      <h3><%= glyphicon 'tint' %> Développez votre clientèle.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

  </div>
</div>
</section>



<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Nos modules</h2>
    <p>Vous souhaitez aller plus loin?</p>

    <div class="col-sm-6">
      <h3><%= glyphicon 'book' %> Menu.</h3>
      <p>Assemblez vos produits pour proposer des menus.</p>
    </div>


    <div class="col-sm-6">
      <h3><%= glyphicon 'heart' %> Allergènes.</h3>
      <p>Renseignez les allergènes présents dans vos plats et proposez  une carte des allergènes.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'envelope' %> Contact.</h3>
      <p>Laissez vos client vous contactez à traver un formulaire de contact.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'bullhorn' %> Blog.</h3>
      <p>Communiquez autour de l'actualité de votre restaurant.</p>
    </div>

    <div class="col-sm-6">
      <h3><%= glyphicon 'star' %> Evaluations.</h3>
      <p>Choisissez un thème parmi les nombreux proposés.</p>
    </div>

    <div class="col-sm-12 alert alert-info">
      <h3><%= glyphicon 'question-sign' %> D'autres idées?</h3>
      <p>Nous sommes à l'écoute pour toutes propositions de nouvelles fonctionnalités.</p>
    </div>

  </div>
</div>
</section>

<hr>

<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Prix</h2>
    <%= render 'cost_table' %>
    <p class="alert alert-info">Créez votre site gratuitement et décidez de basculer sur un compte premium quand vous le souhaitez.</p>
  </div>
</div>
</section>

<hr>

<section class="faq">
  <div class="col-xs-12">
    <h2>FAQ <small>Foire aux questions</small></h2>


    <div class="col-sm-6">
      <h3>Est-ce qu'il y a une limite au compte gratuit?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de basculer sur un compte premium à tout moment (et vice versa).</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-ce qu'il y a un engagement pour le mode premium?</h3>
      <p><strong>Non.</strong> Vous pouvez choisir de résilier à tout moment et rebasculer sur le mode gratuit.</p>
    </div>

    <div class="col-sm-6">
      <h3>Est-il possible d'avoir un coup de main pour démarrer?</h3>
      <p><strong>Oui.</strong> Pour tout abonnement au service premium de plus de 12 mois. Contactez-nous pour la mise en place de votre contenu.</p>
    </div>

    <div class="col-sm-6">
      <h3>Dois-je m'occuper de l'hébergement?</h3>
      <p><strong>Non.</strong> On s'occupe de tout.</p>
    </div>

  </div>
</div>
</section>


<section>
<div class="row">
  <div class="col-xs-12">
    <h2>Newsletter</h2>
    <p>Intéressé pas le projet? N'hésitez pas à vous abonner à la newsletter!</p>
    <%= render 'newsletters/form', newsletter: Newsletter.new %>
  </div>
</div>
</section>

