<%= alert 'warning', "Le projet est en cours de construction. Si vous êtes intéressé par le projet, soyez patient, " %>


<div class="col-xs-12">

  <div id="logo" class="img-circle">
    <%= image_tag '/assets/fooder.svg', size: 200 %>
  </div>



  <h1>Créez votre site pour votre restaurant</h1>

  <p class="lead">Vous pensez que <strong>HTML</strong> et <strong>CSS</strong> sont des organismes de l'<strong>URSSAF</strong></p>
  <%= link_to "voir l'exemple", example_url, class: 'btn btn-primary' %>
</div>


<section class="col-sm-6">
  <h2>Vous avez dit rapide?</h2>
  <%= image_tag '/assets/icons/rocket.svg', class: 'home-icons' %>
  <p class="lead">Créez votre site en moins de cinq minutes. Sans aucune conaissance en dévelopement web.</p>
</section>

<section class="col-sm-6">
  <h2>C'est vous le chef!</h2>
  <%= image_tag '/assets/icons/pantone.svg', class: 'home-icons' %>
  <p class="lead">Choisissez vos couleurs principales, vos phrases d'accroches, votre agencement: tout ce qui rend votre restaurant unique.</p>
</section>

<section class="col-sm-6">
  <h2>Gestion de vos plats</h2>
  <%= image_tag '/assets/icons/pencil.svg', class: 'home-icons' %>
  <p class="lead">Gerez vos plats et menus et actualisez-les quand vous voulez! Vous pouvez même spécifier et créer votre carte d'allergènes.</p>
</section>

<section class="col-sm-6">
  <h2>Module</h2>
  <%= image_tag '/assets/icons/settings.svg', class: 'home-icons' %>
  <p class="lead">Ajoutez les modules qui vous intéresse. Blog d'actualité, réservation en ligne, notation de vos plat.</p>
</section>

<section class="col-sm-6">
  <h2>Faites vous connaitre</h2>
  <%= image_tag '/assets/icons/megaphone.svg', class: 'home-icons' %>
  <p class="lead">Bénéficiez d'un meilleur réferencement chez Google, Yahoo, Bing et atteignez d'autres clients.</p>
</section>

<section class="col-sm-6">
  <h2>Gratuit sans limite d'essai</h2>
  <%= image_tag '/assets/icons/piggy-bank.svg', class: 'home-icons' %>
  <p class="lead">Décidez de passer au compte premium seulement quand vous êtes convaincu.</p>
</section>

<section class="col-xs-12">
  <h2>Essayez maintenant</h2>
  <p class="lead">Convaincu? Jettez un coup d'oeil à la démo ou créez vous un compte maintenant. </p>
  <p>


    <%= link_to "voir l'exemple", example_url, class: 'btn btn-default' %>
    <%= link_to "se créer un compte", signup_path, class: 'btn btn-default' %>
    <%= link_to "se créer un compte", example_url, class: 'btn btn-default' %>
    <%= link_to "combien ça va me couter?", cost_path, class: 'btn btn-default' %>
  </p>
</section>

