<div class="jumbotron">
  <h1>Editez vos liens</h1>
  <p>Les liens peuvent êtres la page Facebook, twitter ou autre chose en lien avec votre restaurant. Vous pouvez accéder au formulaire complet en cliquant sur <i>En savoir plus</i></p>
</div>

<%= form_tag links_edit_path do  %>

  <div class="sortable">

    <% @links.order(:order).each_with_index do |link, order| %>

      <div id="<%= link.id %>" class="item col-xs-12">

        <div class="col-xs-1 handle">
          <span class="glyphicon glyphicon-sort"></span>
        </div>

        <%= hidden_field_tag "links[#{link.id}][order]", order, class: 'order' %>

        <div class="col-xs-3">
          <%= text_field_tag "links[#{link.id}][name]" , link.name, class: 'form-control' %>
        </div>

        <div class="col-xs-6">
          <%= text_field_tag "links[#{link.id}][url]" , link.url, class: 'form-control' %>
        </div>


        <div class="col-xs-2">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <%= link_to 'en voir plus' , edit_link_path(link) , class: 'btn btn-xs btn btn-default' %>
            <%= link_to 'supprimer', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          </div>
        </div>

      </div>

    <% end %>
    
  </div><!--/ .sortable -->

  <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>

<% end %>


<%= link_to 'Créer un nouveau lien', new_link_path, class: 'btn btn-default'%>
