<%= bootstrap_form_for dish, remote: true do |f| %>
  <%# = render 'shared/errors_form', model: dish %>
  <%= f.text_field :name, hide_label: true, placeholder: 'Nom' %>
  <div class="form-group">
    <%= collection_select :dish, :category_id, @restaurant.categories, :id, :name, {selected: dish.category_id}, { class: "form-control" }  %>
  </div>
  <%= f.text_area :description, hide_label: true, placeholder: 'Description' %>
  <%# = render 'shared/form_input_picture.html', form: f, model: dish %>
  <%# = f.check_box :activate, label: 'Activer' %>
  <%# = f.text_field :tags %>
  <%= f.number_field :price, hide_label: true, append: '€', placeholder: 'prix' %>
  <%= f.submit 'Confirmer' %>
  <%# add delete button only if update form %>
  <% if dish.id %>
    <button id="delete_dish" class="btn btn-danger">Supprimer</button>
  <% end %>
  <%# = link_to 'Supprimer', dish, method: :delete, remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: 'btn btn-danger' if f.options[:html][:class] == "edit_dish" %>
<% end %>
<script type="text/javascript">
  <% if dish.id %>
    // remove and refresh view
    $('#delete_dish').on('click', function(e){
      e.preventDefault();
      $.ajax({
         url : '<%= url_for dish %>',
         type : 'delete',
         dataType : 'html',
         success : function(result, status){
          $('#dishes-list').html(result);
         },
         error : function(result, statut, error){
          console.log(result);
         },
         complete : function(result, status){
          $('.ui-dialog').remove();
         }
      });
    });
  <% end %>
</script>