<%= form_for dish do |f| %>
  <%= render 'shared/errors_form', model: dish %>

  <div class="form-group">
    <%= f.label :name, 'Nom' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= render 'shared/form_input_picture.html', form: f, model: dish %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: "form-control" %>
    <span class="help-block">Séparez vos tags par ";". <i>Exemple: "sans gluten;fait maison"</i></span>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Prix' %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, 'Catégorie' %>
    <%= collection_select :dish, :category_id, current_user.categories, :id, :name, {selected: dish.category_id}, { class: "form-control" }  %>
  </div>


  <h2>Allergènes</h2>

  <table class="table table-striped">
  
    <% Dish::ALLERGENS.each do |sym, allergen| %>
      <tr>
          <td><%= f.label sym, allergen  %></td>
        <% Dish::ALLERGEN_VALUES.each do |value, label| %>
        <td>
          <div class="radio">
            <%= f.radio_button sym, value %>
            <%= f.label sym, label, value: value %>
          </div>
        </td>
        <% end %>
      </tr>
    <% end %>

  </table>

  <%= alert 'warning', "Le module des allergènes n'est pas activé, ces information seront enregistrés mais pas elles ne seont pas affichées."  unless @restaurant.module_allergens %>

  <div class="actions">
    <%= f.submit 'Confirmer', class: 'btn btn-primary' %>
  </div>
<% end %>
