<%= form_for [@restaurant, dish] do |f| %>
  <%= render 'shared/errors_form', model: dish %>

  <div class="form-group">
    <%= f.label :name, 'Nom' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :picture  %>
    <%= image_tag dish.picture.url, alt: "photo du #{dish.name}", size:50,  class: 'img-circle' if dish.picture? %>
    <%= f.file_field :picture %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: "form-control" %>
    <span class="help-block">Séparez vos tags par ";". <i>Exemple: "sans gluten;fait maison"</i></span>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Prix' %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, 'Catégorie' %>
    <%= collection_select :dish, :category_id, current_user.categories, :id, :name, {}, { class: "form-control" }  %>
  </div>

  <div class="actions">
    <%= f.submit 'Ajouter ce plat', class: 'btn btn-primary' %>
  </div>
<% end %>
