<%
# select only categories who contains at least one dish
existing_categories_ids = dishes.map{|dish| dish.category_id }.uniq
%>
<% @restaurant.categories.order(:order).select{|c| existing_categories_ids.include? c.id }.each do |category| %>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <h3><%= category.name %></h3>
    <ul class="dishes list-unstyled">
      <% dishes.select{|d| d.category_id == category.id}.each do |dish| %>
        <li
          <% if admin? %>
            class="editable"
            data-url="<%= url_for edit_dish_path(dish) %>"
          <% end %>
        >
          <strong><%= dish.name %> <span class="price"><%= dish.price %> €</span></strong>
          <%= dish.description %>
        </li>
      <% end # end of dishes %>
    </ul>
  </div>
<% end # end of categories %>
<!-- end of categories -->