<%
# if `display_price` is not specified, is equal to `true`
display_price = !(display_price === false)
# select only categories who contains at least one dish
existing_categories_ids = dishes.map{|dish| dish.category_id }.uniq
%>
<% @restaurant.categories.order(:order).select{|c| existing_categories_ids.include? c.id }.each do |category| %>
  <div class="row">
    <h4 class="col-xs-12"><%= category.name %></h4>
    <% dishes.select{|d| d.category_id == category.id}.each do |dish| %>
      <article class="dishes col-sm-6">
        <!-- picture and title -->
        <%= picture_tag dish, :picture_display, css_class: "dish-picture", size: 100 %>
        <p>
          <h5><%= dish.name %></h5>
          <%= dish.description %>
          <% if display_price %>
            <strong><%= price dish.price %></strong>
          <% end %>
          <br/>
          <%= tags dish.tags %>
        </p>
        <% if admin? %>
          <p class="text-right admin">
            <%= link_to "Editer", edit_dish_path( dish), class: 'btn btn-default btn-xs' %>
            <%= link_to "Supprimer",  dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs' %>
          </p>
        <% end %>
      </article>
      <!--! .col-xs-6 -->
    <% end # end of dishes %>
  </div>
<% end # end of categories %>
<!-- end of categories -->