<% existing_categories_ids = dishes.map{|dish| dish.category_id }.uniq %>

<% # select only categories who contains at least one dish
  @restaurant.categories.order(:order).select{|c| existing_categories_ids.include? c.id }.each do |category| %>

  <div class="row">

    <h2 class="col-xs-12"><%= category.name %></h2>
      

    <% dishes.select{|d| d.category_id == category.id}.each do |dish| %>

      <article class="col-sm-6">
        <% if true and dish.picture? # TODO activate picture module %>
          <%= link_to dish do %>
            <%= image_tag dish.picture.url, alt: "photo du #{dish.name}", size:50,  class: 'img-circle dish-picture'  %>
          <% end %>
        <% end %>
        <p>
          <h3><%= link_to dish.name, dish %></h3>
          <%= dish.description %>  <strong><%= price dish.price %></strong><br/>
          <%= tags dish.tags %>
          <%= render 'allergens', dish: dish if @restaurant.module_allergens %>
        </p>

        <% if admin? %>
          <p class="text-right">
            <%= link_to "Editer", edit_dish_path( dish), class: 'btn btn-default btn-xs' %>
            <%= link_to "Supprimer",  dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs' %>
          </p>
        <% end %>

      </article><!--! .col-xs-6 -->

    <% end # end of dishes%>

    </div>

  <% end # end of categories%> 

