<% existing_categories_ids = dishes.map{|dish| dish.category_id }.uniq %>

<% # select only categories who contains at least one dish
  @restaurant.categories.order(:order).select{|c| existing_categories_ids.include? c.id }.each do |category| %>

  <div class="row">

    <h2 class="col-xs-12"><%= category.name %></h2>
      
    <% dishes.select{|d| d.category_id == category.id}.each do |dish| %>

      <article class="col-sm-6">
        <%= link_to dish do %>
          <%= picture_tag dish, :dishes_picture_display, css_class: "dish-picture", size: 100 %>
        <% end %>
        <p>
          <h3><%= link_to dish.name, dish %></h3>
          <%= dish.description %>  <strong><%= price dish.price %></strong><br/>
          <%= tags dish.tags %>
        </p>

        <% if admin? %>
          <p class="text-right admin">
            <%= link_to "Editer", edit_dish_path( dish), class: 'btn btn-default btn-xs' %>
            <%= link_to "Supprimer",  dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs' %>
          </p>
        <% end %>

      </article><!--! .col-xs-6 -->

    <% end # end of dishes%>

    </div>

  <% end # end of categories%> 

