<% categories =  dishes.map{|d| d.category }.uniq %>

<% categories.each do |category| %>

  <div class="row">

    <h2><%= category.name %></h2>
      

    <% dishes.select{|d| d.category_id == category.id}.each do |dish| %>

      <article class="col-sm-6">
        <p>
          <strong><%= link_to dish.name, restaurant_dish_path(dish, restaurant_id: dish.restaurant_id) %></strong><br/>
          <%= dish.description %>  <strong><%= price dish.price %></strong><br/>
          <%= tags dish.tags %>

           <% if check_admin %>
            <%= link_to "Editer", edit_restaurant_dish_path(@restaurant, dish), class: 'btn btn-default btn-xs' %>
            <%= link_to "Supprimer", restaurant_dish_path(@restaurant, dish), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
          <% end %>
        </p>

      </article><!--! .col-xs-6 -->

    <% end # end of dishes%>

    </div>

  <% end # end of categories%> 

