
<div class="col-xs-12">
  <h1>Editez vos plats</h1>
  <p>Ici vous pouvez rapidement éditer vos plats</p>
</div>

<div class="col-xs-12">

<%= form_tag dishes_edit_path do  %>

  <table class="table">

    <tr>
      <th>Nom</th>
      <th>Catégorie</th>
      <th>Prix</th>
      <th>Actions</th>
    </tr>

    <% @dishes.each do |dish| %>
      <tr>
        <td><%= text_field_tag "dish[#{dish.id}][name]" , dish.name, class: 'form-control' %></td>
        <!-- TODO: set tag selected -->
        <td><%= collection_select "dish[#{dish.id}][category]" , :category_id, current_user.categories, :id, :name, {selected: dish.category_id}, { class: "form-control" }  %></td>
        <td><%= text_field_tag "dish[#{dish.id}][price]" , dish.price, class: 'form-control' %></td>
        <td>
          <%= link_to glyphicon('chevron-up'), sort_dish_path(dish.friendly_id, 1), method: :patch, class: 'btn btn-default btn-xs' %>
          <%= link_to glyphicon('chevron-down'), sort_dish_path(dish.friendly_id, -1), method: :patch, class: 'btn btn-default btn-xs' %>
          <%= link_to 'en voir plus' , edit_dish_path(dish) , class: 'btn btn-default' %>
          <%= link_to 'supprimer', dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
    
  </table>

  <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>

<% end %>

</div>

