<div class="col-xs-12">
  <h1>Editez vos plats</h1>
  <p>Ici vous pouvez rapidement éditer vos plats</p>
</div>



<%= form_tag dishes_edit_path do  %>

  <div class="sortable">

    <% @dishes.each do |dish| %>

      <div class="item col-xs-12">

        <div class="col-xs-1 handle">
        <span style="font-size:2em;" class="glyphicon glyphicon-sort"></span>
        </div>

        <%= hidden_field_tag "dish[#{dish.id}][category]", dish.category_id %>


        <div class="form-group col-xs-6">
          <%= label_tag "dish[#{dish.id}][name]", 'nom'%>
          <%= text_field_tag "dish[#{dish.id}][name]" , dish.name, class: 'form-control' %>
        </div>

        <div class="form-group col-xs-2">
          <%= label_tag "dish[#{dish.id}][price]", 'prix'%>
          <%= text_field_tag "dish[#{dish.id}][price]" , dish.price, class: 'form-control' %>
        </div>

        <div class="col-xs-3">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <%= link_to 'en voir plus' , edit_dish_path(dish) , class: 'btn btn-default' %>
            <%= link_to 'supprimer', dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>

      </div>

    <% end %>
    
  </div><!--/ .sortable -->

  <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>

<% end %>

