<h1><%= @dish.name %> <small><%= @dish.category.name if @dish.category%></small></h1>

<%= picture_tag @dish, :dishes_picture_display, css_class: "dish-picture", size: 200 %>

<p class="lead"><%= @dish.description %></p>

<% if @restaurant.module_allergens %>
  <p class="lead"><%= render 'allergens', dish: @dish %></p>
<% end %>


<h2>Inclus dans les menus</h2>


<ul>
  <% @dish.menus.each do |menu| %>
    <li><%= link_to menu.name, menu %></li>
  <% end %>
</ul>



<% if admin? %>
  <p class="text-right admin">
    <%= link_to 'Editer', edit_dish_path(@dish), class: 'btn btn-warning' %>
    <%= link_to 'Supprimer', @dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </p>
<% end %>