<h1><%= @dish.name %> <small><%= @dish.category.name if @dish.category%></small></h1>

<%= image_tag @dish.picture.url, alt: "photo du #{@dish.name}", size:200,  class: 'img-circle' if @dish.picture? %>

  

<div class="row">
  <p class="lead"><%= @dish.description %></p>
</div>


<div class="row">
  <p class="lead"><%= render 'allergens', dish: @dish %></p>
</div>

<div class="btn-group" role="group" aria-label="...">
  <a href="#" class="btn btn-primary"><%= glyphicon 'pencil' %> Noter ce plat</a>
</div>

<% if current_user == @dish.user %>

  <h2>Admin</h2>

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to 'Editer', edit_dish_path(@dish), class: 'btn btn-warning' %>
    <%= link_to 'Supprimer', @dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

<% end %>