<h1><%= @dish.name %> <small><%= @dish.category.name if @dish.category%></small></h1>

<blockquote>
  <p><%= @dish.description %></p>
  <footer><cite><%= @dish.user.complete_name %></cite></footer>
</blockquote>

<div class="btn-group" role="group" aria-label="...">
  <a href="#" class="btn btn-primary"><%= glyphicon 'pencil' %> Noter ce plat</a>
</div>

<% if current_user == @dish.user %>

  <h2>Admin</h2>

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to 'Editer', edit_restaurant_dish_path(@dish, restaurant_id: @dish.restaurant_id ), class: 'btn btn-warning' %>
    <%= link_to 'Supprimer',restaurant_dish_path(@dish, restaurant_id: @dish.restaurant_id ), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

<% end %>