<%= bootstrap_form_for restaurant do |f| %>

  <%= render 'shared/errors_form', model: restaurant %>

    <div class="col-sm-12">
      <h2>Informations</h2>
    </div>

    <div class="col-sm-12">
      <%= f.text_field :name, label: 'Nom' %>
    </div>

    <div class="col-sm-12">
      <%= f.text_field :address, label: 'Adresse' %>
    </div>

    <div class="col-sm-6">
      <%= f.text_field :zip_code, label: 'Code Postal' %>
    </div>

    <div class="col-sm-6">
      <%= f.text_field :city, label: 'Ville' %>
    </div>


    <div class="col-xs-12">
      <h2>Thème</h2>
    </div>

    <div class="form-group col-sm-6">
      <%= f.select :css, {}, {}, id: 'themes' %>
    </div>

    <div class="col-xs-12">
      <h2>Logo</h2>
    </div>

    <div class="col-sm-6">
      <%= render 'shared/form_input_logo.html', form: f, model: restaurant %>
      <p class="alert alert-info">Le logo est utilisé en tant que favicon.</p>
    </div>
    
    <div class="col-sm-6">
      <%= render 'shared/form_input_picture.html', form: f, model: restaurant %>
      <p class="alert alert-info">L'image est affichée sur la page principale.</p>
    </div>


    <div class="col-xs-12">
      <%= f.submit 'Confirmer' %>
    </div>
      
  </div>

<% end %>
