<% 
  picture_size_labels_fiels = { 
    picture_display: "Logo de votre restaurant",
    picture_display: "Photos des menus", 
    picture_display: "Photos de vos plats à la carte", 
    picture_display: "Photos de vos actualités", 
    picture_display: "Photos des sections sur la page d'acueil" 
  }
  picture_size_labels_fiels.delete! :picture_display unless restaurant.picture_display

%>

<div class="col-xs-12">

  <%= bootstrap_form_for restaurant do |f| %>

    <div id="accordion-form">
      
      <%= render 'shared/errors_form', model: restaurant %>

      <h3>Informations du restaurant</h3>

      <div>
        <div class="col-sm-12">
          <%= f.text_field :name, label: 'Nom' %>
        </div>

        <div class="col-sm-12">
          <%= f.text_field :address, label: 'Adresse' %>
        </div>

        <div class="col-sm-6">
          <%= f.text_field :zip_code, label: 'Code Postal' %>
        </div>

        <div class="col-sm-6">
          <%= f.text_field :city, label: 'Ville' %>
        </div>

        <div class="col-xs-12">
          <%= alert 'info', 'Ces informations serviront à construire la section "contact" de votre site.' %>
        </div>

      </div>


      <h3>Site</h3>

      <div>

        <div class="col-xs-12">
          <%= f.text_field :slug, label: "Préfixe de l'URL gratuite", append: ".fooder.pro", prepend: 'https://' %>
        </div>
      </div>


      <h3>Logo</h3>

      <div>
        <div class="col-sm-6">
          <%= render 'shared/form_input_logo.html', form: f, model: restaurant, help: 'Le logo est utilisé en tant que favicon.' %>
        </div>
        
        <div class="col-sm-6">
          <%= render 'shared/form_input_picture.html', form: f, model: restaurant, help: "L'image est affichée sur la page principale." %>
        </div>
      </div>


      <h3>Design</h3>

      <div>
        <div class="col-xs-12">
          <%= f.select :picture_display,  display_options(restaurant.picture_display), {label: "Affichage des images"} %>
        </div>

        <div class="col-xs-12">
          <%= f.select :css, { "Sélectionnez un theme" => nil }, {label: 'Thème'}, {id: 'themes'} %>
        </div>
      </div>

    </div>
        
    <%= f.submit 'Confirmer' %>

  <% end %>
</div>
