<%= form_for(restaurant) do |f| %>

  <%= render 'shared/errors_form', model: restaurant %>

  <div class="row">
    <h2>Informations</h2>

    <div class="form-group col-sm-12">
      <%= f.label :name, 'Nom' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-12">
      <%= f.label :address, 'Addresse' %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :zip_code, 'Code Postal' %>
      <%= f.text_field :zip_code, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :city, 'Ville' %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>


  <div class="row">
    <h2>Thème</h2>
    <div class="form-group col-sm-6">
      <%= f.label :css, 'Thème' %>
      <%= f.select :css, {}, {}, class: 'form-control', id: 'themes' %>
    </div>
  </div>

  <div class="row">
    <h2>Logo</h2>
    <%= render 'shared/form_input_logo.html', form: f, model: restaurant %>
    <%= render 'shared/form_input_picture.html', form: f, model: restaurant %>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <%= f.submit 'Confirmer', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
