<%= bootstrap_form_for restaurant do |f| %>
  <h4><%= image_tag 'icons/settings', height: 30 %> Paramètres</h4>
  <%#= f.text_field :name, label: 'Nom' %>
  <%#= f.text_field :address, label: 'Adresse' %>
  <%#= f.text_field :zip_code, label: 'Code Postal' %>
  <%#= f.text_field :city, label: 'Ville' %>
  <%#= f.text_field :phone, label: 'Numéro de télephone' %>
  <%= f.text_field :slug, label: "Préfixe de l'URL gratuite", append: ".fooder.pro", prepend: 'http://' %>
  <%= f.text_field :email, label: 'Email', help: "L'email n'est pas affiché. Il sert de desinataire au formulaire de contact" %>
  <%= f.submit 'Confirmer' %>
<% end %>
<h4><%= image_tag 'icons/box', height: 30 %> Modules</h4>
<p class="text-justify">Les modules vous permettent d'activer ou de désactiver certainnes fonctionnalités</p>
<% Restaurant::MODULES.each do |module_name, description| %>
  <%= link_to activate_module_url(module: module_name, subdomain: restaurant), class: "btn btn-default btn-xs", method: :patch do %>
    <% activated = restaurant.send("module_#{module_name}") %>
    <%= activated ? "désactiver" : "activer"  %> <%= description[:title] %>
  <% end %>
<% end %>