<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% restaurants.each do |restaurant| %>
      <tr>
        <td><%= render 'restaurants/link', restaurant: restaurant %></td>
        <td><%= restaurant.complete_address %></td>
        <td><%= restaurant.user ? restaurant.user.complete_name : 'Utilisateur non trouvé' %></td>
        <td>
          <% if current_user == restaurant.user %>
            <%= link_to_restaurant_with_session_key restaurant %>
            <%= link_to 'Editer', edit_restaurant_path(restaurant) , class: 'btn btn-warning' %>
            <%= link_to 'Supprimer', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
          <% else %>
            <%= link_to 'Voir le site', root_url(subdomain: restaurant), class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
