<header
  id="cover"
  style="background-image: url(<%= @restaurant.picture %>)"
  >
  <div class="cell-vertical-align">
    <h1 
      class="editable" 
      data-fields="name"
      data-url="<%= url_for edit_restaurant_path(@restaurant) %>"
    ><%= @restaurant.name %></h1>
  </div>
</header>
<div class="container">
  <!-- products -->
  <% if @restaurant.module_dishes %>
    <section id="section-dishes" class="row">
      <h2>Notre carte</h2>
      <div id="dishes-list">
        <%= render 'dishes/list', dishes: @dishes, cache: true %>
      </div>
      <% if admin? %>
        <!-- button to create dish -->
        <p class="col-xs-12 text-center">
          <%= link_to new_dish_path, class: 'btn btn-default btn-lg creable' do %>
            <%= glyphicon 'plus' %> ajouter un nouveau produit
          <% end %>
        </p>
      <% end %>
    </section>
  <% end %>
  <!-- menus -->
  <section id="section-menus" class="row">
    <h2>Menus</h2>
    <div id="menus-list">
      <%= render 'menus/list', menus: @menus, cached: true %>
    </div>
  </section>
  <!-- opening hours -->
  <section id="section-opening-hours" class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>Nos horaires d'ouverture</h2>
      <%= render 'opening_hours/details', restaurant: @restaurant %>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <img src="http://lorempixel.com/400/400/food" class="img img-circle" height="400">
    </div>
  </section>
  <!-- contact -->
  <% if @restaurant.module_contact %>
    <section id="section-contact" class="row">
      <div class="col-xs-12">
        <h2>Contactez nous</h2>
        <p class="lead text-center">Vous avez un question? N'hesitez pas à nous contacter.</p>
        <%= bootstrap_form_for contact_path do |f| %>
          <%= f.text_field :object, label: 'Objet' %>
          <%= f.text_field :email, label: 'Votre email' %>
          <%= f.text_area :content, label: 'Contenu' %>
          <%= f.submit 'Envoyer' %>
        <% end %>
      </div>
    </section>
  <% end %>
  <!-- restaurant informations -->
  <section class="row">
    <div class="col-xs-12">
      <h2>Notre restaurant</h2>
      <div id="sections-list">
        <%= render 'sections/list', sections: @restaurant.sections, cache: true %>
      </div>
    </div>
  </section>
  <!-- address -->
  <section class="row">
    <div class="col-xs-12">
      <h2>Addresse</h2>
      <p 
        class="editable"
        data-fields="address.zip_code.city"
        data-url="<%= url_for edit_restaurant_path(@restaurant) %>"
      >
        <%= glyphicon 'home' %> <%= @restaurant.complete_address %>
      </p>
      <% if @restaurant.module_contact %>
        <p><%= link_to "Contactez nous", '#section-contact', class: 'btn btn-default' %></p>
      <% end %>
    </div>
  </section>
</div>