<header
  id="cover"
  style="background-image: url(<%= @restaurant.picture %>)"
  >
  <div class="cell-vertical-align">
    <h1><%= @restaurant.name %></h1>
    <hr>
    <p>Adipisicing sit esse est amet.</p>
  </div>
</header>
<div class="container">

  <!-- products -->
  <% if @restaurant.module_dishes %>
    <section id="section-dishes" class="row">
      <h2>Notre carte</h2>
      <%= render 'dishes/list', dishes: @dishes, cache: true %>
    </section>
  <% end %>

  <!-- menus -->
  <section id="section-menus" class="row">
    <h2>Menus</h2>
    <%= render 'menus/list', menus: @menus, cached: true %>
  </section>

  <!-- opening hours -->
  <section id="section-opening-hours" class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>Nos horaires d'ouverture</h2>
      <table class="table table-hover">
        <tbody>
          <tr class="table-dark"> <th>Lundi</th> <td>Fermé</td> </tr>
          <tr> <th>Mardi</th> <td>09:00 – 18:30</td> </tr>
          <tr> <th>Mercredi</th> <td>09:00 – 12:00 et 14:00 – 18:30</td> </tr>
          <tr> <th>Jeudi</th> <td>09:00 – 18:30</td> </tr>
          <tr> <th>Vendredi</th> <td>09:00 – 18:30</td> </tr>
          <tr> <th>Samedi</th> <td>08:00 – 16:s00</td> </tr>
          <tr class="table-dark"> <th>Dimanche</th> <td>Fermé</td> </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <img src="http://lorempixel.com/400/400/food" class="img img-circle" height="400">
    </div>
  </section>
  
  <!-- contact -->
  <% if @restaurant.module_contact %>
    <section id="section-contact" class="row">
      <div class="col-xs-12">
        <h2>Contactez nous</h2>
        <p class="lead text-center">Vous avez un question? N'hesitez pas à nous contacter.</p>
        <%= bootstrap_form_for contact_path do |f| %>
        <%= f.text_field :object, label: 'Objet' %>
        <%= f.text_field :email, label: 'Votre email' %>
        <%= f.text_area :content, label: 'Contenu' %>
        <%= f.submit 'Envoyer' %>
        <% end %>
      </div>
    </section>
  <% end %>

  <!-- restaurant informations -->
  <section class="row">
    <div class="col-xs-12">
      <h2>Notre restaurant</h2>
      <%= render 'sections/list', sections: @restaurant.sections, cache: true %>
    </div>
  </section>
 
  <!-- address -->
  <section class="row">
    <div class="col-xs-12">
      <h2>Addresse</h2>
      <p><%= glyphicon 'home' %> <%= @restaurant.complete_address %></p>
      <% if @restaurant.module_contact %>
      <p><%= link_to "Contactez nous", contact_url(subdomain: @restaurant), class: 'btn btn-default' %></p>
      <% end %>
    </div>
  </section>
    
</div>