<div class="row">



  <div class="col-xs-12">
    <div class="page-header">
      <h1><%= @restaurant.name %></h1>
    </div>

    <div class="col-xs-12">
      <%= render 'shared/sections_toolbar' if admin? %>
    </div>

    <%= image_tag @restaurant.picture, class: 'col-xs-12 img-responsive' if @restaurant.picture? %>
    
  </div>

</div>




<%= render 'sections/list', sections: @restaurant.sections %>


<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="toolbar" aria-label="...">
      <%= link_to 'La carte', dishes_path, class: "btn btn-lg btn-default" %>
      <%= link_to 'Les menus', menus_path, class: "btn btn-lg btn-default" %>
      <%= link_to "Les horraires d'ouverture", contact_path, class: "btn btn-lg btn-default" %>
      <%= link_to 'Nous contacter', contact_path, class: "btn btn-lg btn-default" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Les horraires d'ouvertures</h2>
    <%= render 'opening_hours/details', opening_hours: @restaurant.opening_hours %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p><%= glyphicon 'home' %> <%= @restaurant.complete_address %></p>
    <p><%= glyphicon 'user' %> <%= link_to @restaurant.user.complete_name, @restaurant.user %></p>
  </div>
</div>

