<div class="row restaurant-header tooltip-holder" style="background-image: url(<%= @restaurant.picture %>)"
  <%= tooltip 'Cette image de fond peut être changé dans la section  "editer le restaurant"' %> >
  <section class="col-xs-12">
    <%= render 'shared/flash' %>
    <h1 class="tooltip-holder" <%= tooltip 'Le nom de votre restaurant peut être changé dans la section "editer le restaurant"' %> ><%= logo_tag @restaurant %><%= @restaurant.name %></h1>
  </section>
</div>
<div class="row landing-restaurant">
  <!-- text & blbla -->
  <section class="col-xs-12">
    <h2>Le restaurant</h2>
    <%= render 'sections/list', sections: @restaurant.sections, cache: true %>
  </section>
  <!-- openings hours -->
  <% if @restaurant.plain_opening_hours %>
    <section class="col-xs-12">
      <h2>On vous attend</h2>
      <p><%= @restaurant.plain_opening_hours %></p>
    </section>
  <% end %>
  <!-- products -->
  <% if @restaurant.module_dishes %>
    <section id="section-dishes" class="col-xs-12">
      <h2>Carte</h2>
      <%= render 'dishes/list', dishes: @dishes, cache: true %>
    </section>
  <% end %>
  <!-- menus -->
  <section id="section-menus" class="col-xs-12">
    <h2>Menus</h2>
    <%= render 'menus/list', menus: @menus, cached: true %>
  </section>
  <!-- address -->
  <section class="col-xs-12">
    <h2>Addresse</h2>
    <p><%= glyphicon 'home' %> <%= @restaurant.complete_address %></p>
    <% if @restaurant.module_contact %>
      <p><%= link_to "Contactez nous", contact_url(subdomain: @restaurant), class: 'btn btn-default' %></p>
    <% end %>
  </section>
  <!-- contact -->
  <% if @restaurant.module_contact %>
    <section id="section-contact" class="col-xs-12">
      <h2>Contactez nous</h2>
      <p>Vous avez un question? N'hesitez pas à nous contacter.</p>
      <%= bootstrap_form_for contact_path do |f| %>
        <%= f.text_field :object, label: 'Objet' %>
        <%= f.text_field :email, label: 'Votre email' %>
        <%= f.text_area :content, label: 'Contenu' %>
        <%= f.submit 'Envoyer' %>
      <% end %>
    </section>
  <% end %>
</div>