<h1><%= @restaurant.name %></h1>

<p><%= glyphicon 'home' %> <%= @restaurant.complete_address %></p>
<p><%= glyphicon 'user' %> <%= link_to @restaurant.user.complete_name, @restaurant.user %></p>


<div class="btn-group" role="toolbar" aria-label="...">
  <%= link_to 'Voir la carte', restaurant_dishes_path(@restaurant), class: "btn btn-primary" %>
</div>

<% if current_user == @restaurant.user %>

	<h2>Administration</h2>

	<div class="btn-group" role="toolbar" aria-label="...">
	  <%= link_to 'ajouter un plat', new_restaurant_dish_path(@restaurant), class: "btn btn-primary" %>
	  <%= link_to 'editer ce restaurant', edit_restaurant_path(@restaurant), class: "btn btn-warning" %>
	  <%= link_to 'supprimer ce restaurant', @restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
	</div>

<% end %>
