<h1><%= image_tag 'fooder.svg', alt: 'fooder', size: 100 %> Créez un site dynamique de qualité pour votre restaurant.</h1>

<p><%= link_to image_tag("screenshots/carte.png", class: 'screenshot img-thumbnail'), example_url %></p>
<p><%= link_to "C'est parti!", signup_url, class: 'btn btn-lg btn-primary' %></p>



<h2>Rapidité, simplicité</h2>

<p>Quelques clics suffisent pour <strong>créer votre site</strong> sans aucune connaissance en web.</p>
<p><strong>Créez</strong> et <strong>gérez</strong> une carte interactive</strong>.</p>
<p>C'est vous le chef!</p>
<p><%= link_to "Commencez dès maintenant", signup_url, class: 'btn btn-lg btn-default' %></p>



<h2>Comment ça fonctionne?</h2>

<p><%= link_to "Créez votre compte", signup_url %> sur Fooder et créez votre restaurant.</p>

<h3>Etape 1</h3>
<p>Ajoutez vos produits et vos menus</p>

<h3>Etape 2</h3>
<p>Organisez vos produits et composez vos menus</p>

<h3>Etape 3</h3>
<p>Choisissez un thème et personnalisez votre site.</p>

<p><%= link_to "voir l'exemple", example_url, class: 'btn btn-lg btn-default' %></p>
<p class="alert alert-info">Besoin d'aide? <%= link_to 'Contactez le support.', contact_url, class: 'alert-link' %></p>



<h2>Fonctionnalités</h2>

<p>Votre site dispose de plusieurs modules que vous pouvez choisir d'activer ou non.</p>

<h3>Allergènes.</h3>
<p>Renseignez les allergènes présents dans vos plats et proposez  une carte des allergènes.</p>

<h3>Menus.</h3>
<p>Composez vos menus avec les plats que vous avez déjà renseignés.</p>

<h3>Blog.</h3>
<p>Communiquez autour de l'actualité de votre restaurant.</p>

<h3>Thèmes.</h3>
<p>Choisissez un thème parmi les nombreux proposés.</p>

<h3>D'autres idées?</h3>
<p>Nous sommes à l'écoute pour toutes propositions de nouvelles fonctionnalités.</p>


