<%= bootstrap_form_for post do |f| %>
  <%= render 'shared/errors_form', model: post %>

  <%= f.text_field :title, label: 'Titre' %>

  <%= f.text_area :content, label: 'Contenu' %>

  <%= render 'shared/form_input_picture.html', form: f, model: post %>

  <%= f.text_field :tags %>
  <span class="help-block">Séparez vos tags par ";". <i>Exemple: "sans gluten;fait maison"</i></span>

  <%= f.submit 'Confirmer' %>
<% end %>
