<%= form_for(post) do |f| %>
  <%= render 'shared/errors_form', model: post %>

  <div class="form-group">
    <%= f.label :title, 'Titre' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, 'Contenu' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <%= render 'shared/form_input_picture.html', form: f, model: post %>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'form-control' %>
    <%= render 'shared/tags_tips' %>
  </div>


  <div class="actions">
    <%= f.submit 'Confirmer', class: 'btn btn-primary' %>
  </div>
<% end %>
