<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Tags</th>
      <th>User</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.tags %></td>
        <td><%= post.user_id %></td>
        <td><%= post.restaurant_id %></td>
        <td><%= link_to 'Show', restaurant_post_url(@restaurant, post) %></td>
        <td><%= link_to 'Edit', edit_restaurant_post_path(@restaurant, post) %></td>
        <td><%= link_to 'Destroy', restaurant_post_url(@restaurant, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user == @restaurant.user %>
  <%= link_to 'New Post', new_restaurant_post_path(@restaurant) %>
<% end %>
