<h1>Actualité</h1>


<% @posts.each do |post| %>

  <article>
    <h2><%= link_to post.title, restaurant_post_path(@restaurant, post) %></h2>
    
    <p><%= post.user.complete_name %> dans <%= tags post.tags %></p>
    <p class="text-justify"><%= post.content %></p></p>
    <p class="text-right">
      <%= link_to "voir l'article", restaurant_post_path(@restaurant, post), class: 'btn btn-primary' %>
    </a></p>
  </article>

<% end %>

<% if current_user == @restaurant.user %>
  <%= link_to 'Ajouter un article', new_restaurant_post_path(@restaurant), class: 'btn btn-primary' %>
<% end %>
