<h1>Actualité</h1>


<% @posts.each do |post| %>

  <article>
  <%= picture_tag post, :posts_picture_display, css_class: 'section-img', size: 200 if post.picture? %>
    <h2><%= link_to post.title, post %></h2>
    
    <p><%= post.user.complete_name %> dans <%= tags post.tags %></p>
    <p class="text-justify"><%= post.content %></p></p>

    <!-- buttons -->
    <p class="text-right">
      <%= link_to "voir l'article", post, class: 'btn btn-primary' %>

      <% if admin? %>
        <%= link_to 'editer', edit_post_path(post), class: "btn btn-default" %>
        <%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
      <% end %>
    </a></p>
  </article>

<% end %>

<% if admin? %>
  <%= link_to 'Ajouter un article', new_post_path, class: 'btn btn-primary' %>
<% end %>


