<h1><%= @post.title %></h1>

<p><%= @post.user.complete_name %> dans <%= tags @post.tags %></p>
<p class="text-justify"><%= @post.content %></p>


<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_restaurant_post_path(@restaurant, @post) %> |
<% end %>