<div class="row">
  <div class="col-xs-12">
    <h1>Gérer les catégories</h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <table class="table table-stripped">
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>

      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <%= link_to 'editer', edit_category_path(category), class: "btn btn-default" %>
            <%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Etes vous sûr?' }, class: 'btn btn-danger'  %>
          </td>
        </tr>
      <% end %>

    </table>

    <%= link_to new_category_path, class: "btn btn-primary" do %>
      <%= glyphicon "plus" %> créer une catégorie
    <% end %>

  </div>
</div>