<div class="row">
  <div class="col-xs-12">
	 <h1>Se connecter</h1>
  </div>
</div>

<div class="row">

  <div class="col-xs-12">
    <%= bootstrap_form_for @user_session do |f| %>

      <%= render 'shared/errors_form', model: @user_session %>

      <%= f.email_field :email %>
      <%= f.password_field :password, label: "Mot de passe"  %>
      
      <%= f.submit 'se connecter' %>
    
    <% end %>
  </div>

  <div class="col-xs-12">
    <p class="alert alert-info" role="alert">Pas encore de compte? <%= link_to "Créer un compte", signup_path, class: "alert-link" %></p>
    <p class="alert alert-info" role="alert"><%= link_to "Mot de pase oublié?", signup_path, class: "alert-link" %></p>
  </div>
</div>