<div id="admin-panel" class="container-fluid col-lg-3 col-md-3 col-sm-12 sidebar admin">

<h1 class="visible-sm visible-xs">Admin</h1>

<div id="accordion">

  <h3>Page d'accueil</h3>
  <div>
    <%= render 'shared/toolbar_sections' %>
  </div>

  <h3>Carte</h3>
  <div>
    <%= render 'shared/toolbar_dishes' %>
  </div>


  <h3>Menu</h3>
  <div>
    <%= render 'shared/toolbar_menus' %>
  </div>

  <h3>Blog</h3>
  <div>
    <%= render 'shared/toolbar_posts' %>
  </div>

  <h3>Restaurants</h3>
  <div>
    <%= render 'shared/toolbar_restaurant' %>
  </div>

  <h3>Modules</h3>
  <div>
    <%= render 'shared/toolbar_modules' %>
  </div>

</div>

</div>