<div id="admin-panel" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 admin">

  <div id="accordion">

    <h3><%= glyphicon 'home' %> Page d'accueil</h3>
    <div>
      <%= render 'shared/toolbar_sections' %>
    </div>

    <h3><%= glyphicon 'apple' %> Carte</h3>
    <div>
      <%= render 'shared/toolbar_dishes' %>
    </div>


    <h3><%= glyphicon 'cutlery' %> Menu</h3>
    <div>
      <%= render 'shared/toolbar_menus' %>
    </div>

    <h3><%= glyphicon 'comment' %> Blog</h3>
    <div>
      <%= render 'shared/toolbar_posts' %>
    </div>

    <h3><%= glyphicon 'briefcase' %> Restaurants</h3>
    <div>
      <%= render 'shared/toolbar_restaurant' %>
    </div>

    <h3><%= glyphicon 'th-large' %> Modules</h3>
    <div>
      <%= render 'shared/toolbar_modules' %>
    </div>

    <h3><%= glyphicon 'user' %> Utilisateur</h3>
    <div>
      <%= render 'shared/toolbar_user' %>
    </div>

  </div>

  <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-default" do %>
    <%= glyphicon "cog" %> Paramètres
  <% end %>

  <%= link_to 'Retourner sur Fooder', root_url(subdomain: nil), class: "btn btn-default" %>

</div>