<h1>Admin</h1>


<div class="col-md-12 col-sm-6">
  <h3><%= link_to "Page d'acceuil", restaurant_path(@restaurant) %></h3>

  <div class="btn-group-vertical col-xs-12" role="toolbar" aria-label="...">

    <%= link_to new_restaurant_section_path(@restaurant), class: "btn btn-default" do %>
      <%= glyphicon "plus" %> Ajouter du texte
    <% end %>

  </div> 
</div>



<div class="col-md-12 col-sm-6">
  <h3><%= link_to "Carte", restaurant_dishes_path(@restaurant) %></h3>

  <div class="btn-group-vertical col-xs-12" role="toolbar" aria-label="...">

    <%= link_to new_restaurant_dish_path(@restaurant), class: "btn btn-default" do %>
      <%= glyphicon "plus" %> ajouter un plat
    <% end %>

    <%= link_to restaurant_dishes_path(@restaurant), class: "btn btn-default" do %>
      <%= glyphicon "pencil" %> gérer les plats
    <% end %>

    <a class="btn btn-default" href="#"><%= glyphicon "pencil" %> Organiser les catégories</a>

  </div>
</div>


<div class="col-md-12 col-sm-6">
  <h3><%= link_to "Menus", restaurant_menus_path(@restaurant) %></h3>

  <div class="btn-group-vertical col-xs-12 " role="toolbar" aria-label="...">

    <%= link_to new_restaurant_menu_path(@restaurant), class: "btn btn-default" do %>
      <%= glyphicon "plus" %> ajouter un menu
    <% end %>

    <%= link_to restaurant_menus_path(@restaurant), class: "btn btn-default" do %>
      <%= glyphicon "pencil" %> gérer les menus
    <% end %>

  </div>
</div>


<div class="col-md-12 col-sm-6">
  <h3><%= link_to 'Blog', restaurant_posts_path(@restaurant) %></h3>

  <div class="btn-group-vertical col-xs-12" role="toolbar" aria-label="...">

    <% if @restaurant.module_blog %>

      <%= link_to new_restaurant_post_path(@restaurant), class: "btn btn-default" do %>
        <%= glyphicon "plus" %> ajouter un article
      <% end %>

      <%= link_to restaurant_posts_path(@restaurant), class: "btn btn-default" do %>
        <%= glyphicon "pencil" %> gérer les articles
      <% end %>

      <%= link_to restaurant_activate_module_path(@restaurant), class: "btn btn-default", method: :post do %>
        <%= glyphicon "unchecked" %> désactiver le blog
      <% end %>

    <% else %>
      
      <%= link_to restaurant_activate_module_path(@restaurant), class: "btn btn-default", method: :post do %>
        <%= glyphicon "unchecked" %> activer le blog
      <% end %>

    <% end %>

  </div>
</div>


<div class="col-md-12 col-sm-6">
  <h3>Réservation</h3>

  <div class="btn-group-vertical col-xs-12" role="toolbar" aria-label="...">

    <% if false # @restaurant.module_booking %>

    <% else %>

      <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-default" do %>
        <%= glyphicon "unchecked" %> activer les réservations
      <% end %>

    <% end %>

  </div>
</div>


<div class="col-md-12 col-sm-6">
  <h3><%= link_to "Restaurant", restaurant_path(@restaurant) %></h3>

  <div class="btn-group-vertical col-xs-12" role="toolbar" aria-label="...">

    <%= link_to new_restaurant_path, class: "btn btn-default" do %>
      <%= glyphicon "plus" %> Créer un restaurant
    <% end %>

    <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-default" do %>
      <%= glyphicon "pencil" %> editer ce restaurant
    <% end %>

  </div> 
</div>