<footer class="footer" style="margin-top: 200px">
  <div class="container">
    <%# address  %>
    <p class="col-xs-12 editable"
      data-fields="address.zip_code.city"
      data-url="<%= url_for edit_restaurant_path(@restaurant) %>"
    ><%= glyphicon 'home' %> <%= @restaurant.complete_address %></p>
    <%# phone %>
    <% if @restaurant.phone %>
      <p><%= link_to '#section-contact' do %><%= glyphicon 'earphone' %> <%= @restaurant.phone %><% end  %></p>
    <% end %>
    <!-- display list of usefull links -->
    <div class="col-xs-12" <%= tooltip "Le plan du site est généré automatiquement en fonction des modules activé." %> >
      <strong>Plan du site</strong>
      <ul class="list-inline">
        <%= render 'layouts/navigation_item_restaurant', cache: true %>
      </ul>
    </div>
    <% if @restaurant.links.count != 0 || admin? %>
      <div class="col-xs-12 tooltip-holder" <%= tooltip "Gérez les liens vers les résaux sociaux" %> >
        <strong>Sur internet</strong>
        <div id="links-list">
          <%= render 'links/list', links: @restaurant.links %>
        </div>
        <%# new link %>
        <% if admin? %>
          <p>
            <%= link_to new_link_path, class: 'btn btn-default btn-warning creable' do %>
              <%= glyphicon 'plus' %> ajouter un lien externe
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless @restaurant.user.premium? %>
    <div class="container tooltip-holder" <%= tooltip "Basculez sur un compte premium pour faire disparaitre ce message." %> >
      <p>Ce site web a été crée avec <%= glyphicon 'heart' %> sur <%= link_to "Votre.Restaurant" , root_url(subdomain: nil) %>.</p>
      <span class="admin">
        <%= alert 'info', "Basculez sur un compte premium pour faire disparaitre ce message." if @restaurant.user == current_user %>
      </span>
    </div>
  <% end %>
</footer>