<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- primary informations -->
<title><%= @title %></title>
<meta property="og:title" content="<%= @title %>">
<meta name="description" content="<%= @description %>">
<meta property="og:description" content="<%= @description %>" >
<!-- specific informations -->
<% if @restaurant and not @restaurant.logo.favicon.file.nil? %>
  <link rel="icon" type="image/png" href="<%= @restaurant.logo.favicon.url %>" />
  <!-- TODO: ADD pictures tag here -->
<% else %>
  <meta name="thumbnail" content="http://fooder.profooder.png" />
  <meta property="og:image" content="http://fooder.profooder.png" >
  <link rel="icon" type="image/png" href="<%= image_url 'favicon.png' %>" />
<% end %>
<!-- Basics meta tags -->
<meta name="keywords" content="cms, restaurant, website, create, free, manager, open-source">
<meta name="author" content="Rousseau Alexandre">
<meta name="language" content="fr-FR" />
<meta name="rating" content="General">
<meta name="expires" content="never">
<meta name="distribution" content="Global">
<meta name="email" content="rousseaualexandre.lyon@gmail.com">
<meta name="author" content="ROUSSEAU Alexandre">
<meta name="publisher" content="ROUSSEAU Alexandre">