<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- primary informations -->
<title><%= @title %></title>
<meta property="og:title" content="<%= @title %>">
<meta name="description" content="<%= @description %>">
<meta property="og:description" content="<%= @description %>" >

<!-- specific informations -->
<% if @restaurant and not @restaurant.logo.favicon.file.nil? %>
  <link rel="icon" type="image/png" href="<%= @restaurant.logo.favicon.url %>" />
  <!-- TODO: ADD pictures tag here -->
<% else %>
  <meta name="thumbnail" content="http://fooder.pro/assets/fooder.png" />
  <meta property="og:image" content="http://fooder.pro/assets/fooder.png" >
  <link rel="icon" type="image/png" href="/assets/favicon.png" />

  <meta property="og:image" content="http://raspberry-cook.fr/assets/images/og_image.png">
  <meta name="thumbnail" content="http://raspberry-cook.fr/assets/images/og_image.png" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1000">
  <meta property="og:image:height" content="1000">
<% end %>

<!-- Basics meta tags -->
<meta name="keywords" content="cms, restaurant, website, create, free, manager, open-source">
<meta name="author" content="Rousseau Alexandre">
<meta name="language" content="fr-FR" />
<meta name="rating" content="General">
<meta name="expires" content="never">
<meta name="distribution" content="Global">
<meta name="email" content="rousseaualexandre.lyon@gmail.com">
<meta name="author" content="ROUSSEAU Alexandre">
<meta name="publisher" content="ROUSSEAU Alexandre">
