<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if @restaurant and @restaurant.name %> 
        <%= link_to @restaurant.name, root_url(subdomain: @restaurant) , class: "navbar-brand", 
          title:  ( admin? ? 'Le nom de votre restaurant peut être changé dans la section "editer le restaurant"' : nil ) %>
      <% else %>
        <%= link_to root_path , class: "navbar-brand", style: "padding: 5px" do %>
          <%= image_tag '/assets/fooder.svg', size: 40 %>
        <% end # end of navbar-brand %>
      <% end %>
    </div><!-- / .navbar-header -->
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav nav navbar-left">
        <% if @restaurant %>
          <%= render "layouts/navigation_restaurant" %>
        <% else %>
          <li><%= link_to "Nos clients", restaurants_path %></li>
          <li><%= link_to "Tarifs", cost_path %></li>
        <% end %>
        
      </ul>

      <ul class="nav navbar-nav nav navbar-right">
        <% if @restaurant %>
          <% if admin? %>
            <li><%= link_to "Votre profil", user_url(current_user, subdomain: nil) %></li>
            <li><button id="toggle-client-view" class="navbar-btn">Afficher la vue client</button></li>
          <% end %>
        <% else %>
          <% if current_user %>
            <% if current_user.premium? %>
              <li><%= image_tag '/assets/icons/certificate.svg', alt: 'utilisateur premium', size: 50 %></li>
            <% else %>
              <li><%= link_to "Passer premium", new_payement_path %></li>
            <% end %>
            <li><%= link_to current_user.email, current_user %></li>
          <% else %>
            <li><%= link_to "se connecter", signin_path %></li>
            <li><%= link_to "créer un compte", signup_path %></li>
          <% end %>
        </ul>
        <% end %>
    </div><!--/.nav-collapse -->

      
  </div>
</nav>
