<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to @restaurant.name, root_url(subdomain: @restaurant, anchor: 'cover') , class: "navbar-brand",
          title:  ( admin? ? 'Le nom de votre restaurant peut être changé dans la section "editer le restaurant"' : nil ) %>
    </div>
    <!-- / .navbar-header -->
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav navbar-left">
        <%= render "layouts/navigation_item_restaurant", cache: true %>
      </ul>
      <% if admin? %>
        <ul class="nav navbar-nav nav navbar-right">
          <!-- design -->
          <li>
            <%= link_to edit_restaurant_path(@restaurant, what: 'design'), class: 'settings', remote: true do %>
              <%= glyphicon 'tint' %> Design
            <% end %>
          </li>
          <!-- settings -->
          <li>
            <%= link_to edit_restaurant_path(@restaurant, what: 'settings'), class: 'settings', remote: true do %>
              <%= glyphicon 'cog' %> Paramètres
            <% end %>
          </li>
        </ul>
      <% end %>
      <!--/ nav navbar-nav nav navbar-right -->
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>