<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if @restaurant %> 
        <%= link_to @restaurant.name, @restaurant , class: "navbar-brand"%>
      <% else %>
        <%= link_to root_path , class: "navbar-brand", style: "padding: 5px" do %>
          <%= image_tag '/assets/fooder.svg', size: 40 %>
        <% end # end of navbar-brand %>
      <% end %>
    </div><!-- / .navbar-header -->
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav nav navbar-left">
        <% if @restaurant && @restaurant.id %>
          <li><%=  link_to "Carte",  dishes_path %></li>
          <li><%= link_to "Menus", menus_path %></li>

          <% if @restaurant.module_blog %>
            <li><%= link_to "Actualités", posts_path %></li>
          <% end %>

          <li><a href="#">Réservation</a></li>
          <li><%= link_to "Contact", contact_path %></li>
        <% else %>
          <li><%= link_to "Nos clients", restaurants_path %></li>
          <li><%= link_to "Tarifs", cost_path %></li>
        <% end %>
        
      </ul>

      <ul class="nav navbar-nav nav navbar-right">
        <% if current_user %>
          <li><%= link_to current_user.email, current_user %></li>
        <% else %>
          <li><%= link_to "se connecter", signin_path %></li>
          <li><%= link_to "créer un compte", signup_path %></li>
        <% end %>
      </ul>

    </div><!--/.nav-collapse -->

      
  </div>
</nav>
