<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%= render 'layouts/meta' %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <% if @restaurant && @restaurant.css %>
      <%= stylesheet_link_tag @restaurant.css %>
    <% else %> 
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <% end %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="main-container container-fluid">
      <%= render 'layouts/navigation' %>

      <div class="row">

        <div 
          id="main-container" 
          class="col-lg-9 col-md-8  col-sm-12 <%= "col-md-offset-2 col-sm-offset-1" if !admin? %>" 
          style="padding-top: 80px">

          <%= render 'shared/flash' %>

          <%= yield %>
       </div><!-- /.container -->

       <%= render 'layouts/admin_panel' if @restaurant && admin? %>
        
      </div>

      <div class="row">
        <%= render 'layouts/footer' %>
      </div>

    </div>
    

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" type="text/javascript"></script>

  </body>
</html>