<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="a website to comunicate about your restaurant">
    <meta name="author" content="Rousseau Alexandre">


    <title>Fooder</title>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/assets/css/landing.css' %>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="main-container container-fluid">
      
      <%= render 'layouts/navigation' %>

      <div class="row">

        

        <div id="main-container" class="col-md-8  col-sm-10 <%= "col-md-offset-2 col-sm-offset-1" if !check_admin %>" style="padding-top: 50px">
          <%= yield %>
        </div><!-- /.container -->

        <% if @restaurant && check_admin %>
          <div id="admin-panel" class="container-fluid col-lg-3 col-md-4 col-sm-12 sidebar" style="padding-top: 50px">
            <%= render 'layouts/admin_panel' %>
          </div>
        <% end %>
        
      </div>

      <div class="row">
        <%= render 'layouts/footer' %>
      </div>

    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" type="text/javascript"></script>
  </body>
</html>